[2020-02-26 08:11] gunvesxco opened #1 "How to set Lanscape page!"
I think for the props for lanscape page is not set yet.

[2020-02-26 08:14] kempsteven commented on #1
yes, I have not set the props for landscape page yet, will be adding that in the next update

[2020-02-26 11:32] gunvesxco commented on #1
Hi...

Vue-html2pdf is very powerfull and easy to implement. But i have a
questions, do you have any idea for set lanscape page in vue html2pdf.

Thank you and best regards.

On Wed, Feb 26, 2020, 15:14 Kemp Steven <notifications@github.com> wrote:

[2020-02-26 13:24] kempsteven commented on #1
Hello,

Sorry, but currently in vue-html2pdf, I have not implemented a way for a user to set the pdf orientation, it is only set as a portrait orientation.

since next update will take a bit, and this package is wrapper of html2pdf.js, I highly recommend you using this package for better control of the pdf's settings [html2pdf.js](https://github.com/eKoopmans/html2pdf.js/blob/master/README.md) for

[2020-02-26 13:30] gunvesxco commented on #1
Thanks for your answer.
I will try use html2pdf.js

Thanks a lot. Are you have whatsapp number. Maybe we can get in touch after
this.

Best regards,
Eko Nursahid

On Wed, Feb 26, 2020, 20:24 Kemp Steven <notifications@github.com> wrote:

[2020-02-26 13:45] kempsteven commented on #1
Thanks for appreciating vue-html2pdf! if you'd like you can give a link to your LinkedIn, i could add you

[2020-02-26 15:00] gunvesxco commented on #1
You're welcome... This my linkedin profile.

https://www.linkedin.com/in/eko-nursahid-1253b89a

On Wed, Feb 26, 2020, 20:45 Kemp Steven <notifications@github.com> wrote:

[2020-02-27 04:54] kempsteven commented on #1
Hi, the new feature has been implemented, I thought it would take a while lol.

you can now use props called:
[code]
you also see [documentation](https://github.com/kempsteven/vue-html2pdf/blob/master/README.md) for a more detailed explanation.

[2020-02-27 04:54] #1 closed

[2020-03-04 15:01] PhuHoaframgia opened #2 "App is crashed when there is more HTML"
Please try with more html data

[2020-03-05 04:26] kempsteven commented on #2
Hi PhuHoaframgia, can you provide me a sample of more html data so i could debug the problem thanks!

[2020-05-07 06:12] runkids commented on #2
I have same problem.
Please check [this loop.](https://github.com/kempsteven/vue-html2pdf/blob/7da86921de18f52f313c5778945b9878b7d196f4/src/vue-html2pdf.vue#L136) it will become infinity loop.

I try to modify this line
`
for (const childElement of ArrOfContentChildren) {
`
then it's work.

[2020-05-14 07:42] kempsteven commented on #2
sure ill look at that, but can I atleast get a sample of this more HTML data so that I could test the solution?

[2020-05-14 09:29] kempsteven commented on #2
soo for @runkids comment, the for of loop should work perfectly on an HTMLCollection the (parentElement.children), but to be sure that there wont be any issues, I used the variable ArrOfContentChildren and change the spread operator to Array.from to convert the HTMLCollection to a normal array.

I will be closing this now, but if you ran again to a bug dont hesitate to open an issue again, but ple

[2020-05-14 09:29] #2 closed

[2020-05-14 09:42] runkids commented on #2
Ok, thank you very much!

[2020-05-24 10:45] bakkertjebrood opened #5 "Only emit blob, no download"
Great package! Very well built, my compliments. Is there any way to only emit the blob and prevent the download of the generated pdf?

[2020-05-24 13:29] kempsteven commented on #5
Hey man really appreciate that!
Unfortunately there isn't a way yet, but i think i will make that as a new feature.

But if you can there is a hacky way to do that.

Set the prop ```preview-modal``` to true, that will prevent the download but a preview modal will appear, you hide that by setting a  style ```display:none``` to the modal, class called ```.pdf-preview ```

You need to use /deep/ or :

[2020-05-25 12:47] kempsteven commented on #5
its now available in version 1.3.6 yey, you can now disable the download by setting these props to false:
[code]

[2020-05-25 12:47] #5 closed

[2020-05-26 14:52] DespertaWeb opened #6 "Content is not splitted in pages."
Hi, I just found out that content is not being splitted. Also I've got a initial blank page.
Is there any way to solve this issues? **I'm desperate!**
I've got '#terms-and-conditions' where the content is.
Then I'll clone and append to :
[code]

[code]

No break page:
![imatge](https://user-images.githubusercontent.com/13997454/82905683-75325400-9f64-11ea-9e82-a2d2a5d220f7.png)

Initial blank page

[2020-05-26 23:55] kempsteven commented on #6
Hey there,

For the No Break page:
You can control the break on pages by adjusting the prop `:paginate-elements-by-height`, maybe try setting it to a lower value.

For the Initial blank page:
Can I get a sample of the section of #terms-and-conditions

also if you have not seen the on the docu, this could be an issue with how you structured your html
your html should be like on the guide section
ht

[2020-05-29 10:57] DespertaWeb commented on #6
That might be the case. Anyway, I'm already about to get it done with html2pdf.js . Thank you so much!

[2020-05-29 10:57] #6 closed

[2020-06-11 10:05] bArraxas opened #7 "Doesn't support <page> tag"
Hi,

It seems the library doesn't support <page> tag.
How can I force a page break please ?

Thanks for your help

[2020-06-11 10:06] bArraxas opened #8 "Doesn't support <style> tag"
Hi,

It seems the library doesn't support <style> tag.
How can I customize the style for print for exemple (I mean without use style attribute) ?

Thanks for your help

[2020-06-11 10:08] bArraxas opened #9 "Attribute "paginate-elements-by-height" generate a bug"
Hi,

Attribute "paginate-elements-by-height" generate a bug if it too small.
In this case, the browser freeze and the processus use 99% of processor.

I think it's a bug not catched. You could genrate a warning in the console.

Thanks for you work ;)

[2020-06-11 10:38] kempsteven commented on #9
Hey, thanks for raising that, I will be looking into that

[2020-06-11 10:41] bArraxas commented on #8
I said a mistake. It's vuejs who doesn't not support the "<style>".
To solve that in vuejs use that into the template :
`<div is="style" type="text/css">`

[2020-06-11 10:41] #8 closed

[2020-06-11 10:42] bArraxas commented on #7
Another mistake from me, it's vuejs who doesn't support "<page>" tag.
To solve that, I had add this to my app.js :
`Vue.config.ignoredElements = ['page']`

[2020-06-11 10:42] #7 closed

[2020-06-11 10:44] kempsteven commented on #8
Haha yep you can just use the  `<style>` tag beneath the `<template>` to style your elements

**Sample:**

[code]

[2020-06-24 16:39] adronitis opened #10 "Image with base64 support"
I need to load image into the PDF from the API link, however since it doesn't support remote link, can we add support to base64 image?

[2020-06-24 19:21] rubenreyes2000 opened #11 "Access to more html2pdf.js options"
Great package, we love it. I have a question - is there a way to pass other html2pdf.js options? We would like to tweak the generated PDF in ways that your options don't seem to allow. For example (see https://www.npmjs.com/package/html2pdf.js/v/0.9.0#options):

- Select image type (JPG, PNG)
- Control JPG image quality
- Set a scale factor (part of the html2canvas options: http://html2canvas.hert

[2020-06-24 19:44] #10 closed

[2020-06-24 23:41] kempsteven commented on #11
Hey thanks, I do think its a good idea making those options available, will be doing that!

The only options available for now is these props:
pdf-quality = html2canvas.scale
pdf-format = jsPDF.format
pdf-orientation = jsPDF.orientation

[2020-06-26 22:07] CavalcanteLeo opened #12 "doesn't work with nuxt"
plugin:
[code]

nuxt.config.js
[code]

somehow, sometimes works but most of the time the page freezes, and sometimes shows an error: window is not defined, even i use <no-ssr>

[2020-06-27 02:24] kempsteven commented on #12
Hey searched a bit and this might be the case: https://stackoverflow.com/questions/54979644/window-is-not-defined-in-nuxt-js
I will also try and reproduce it on a nuxt project

[2020-06-27 05:00] kempsteven commented on #12
So I reproduced it, and find a way to fix it.

**First on your nuxt.config.js:**
just add `mode: 'client'`
[code]

**Documentation**: https://nuxtjs.org/guide/plugins#client-or-server-side-only

So when you did that you will get an error:
`[Vue warn]: The client-side rendered virtual DOM tree is not matching server-rendered content. This is likely caused by incorrect HTML markup, for example nesti

[2020-06-27 05:00] #12 closed

[2020-06-28 03:40] CavalcanteLeo commented on #12
thanks

[2020-06-28 04:22] weblove26 opened #13 "移动端不支持Blob的pdf下载，怎么办？"
移动端不支持Blob的pdf下载，怎么办？

[2020-06-28 05:27] kempsteven commented on #13
Hi there, can you provide a sample of your code and if you have any, a sample of your error messages? so we can investigate what's happening.

I am sure this works on Chrome for android though

[2020-06-30 09:06] silo commented on #10
Hi.
I am writing, because i maybe have a related issue. I converted my images to base64 and storing them in the localstorage. But it doesn't work half of the times when i generate the PDF.
@adronitis how did you solve this?

[2020-06-30 09:10] adronitis commented on #10
Apparently the base64 didn't work for me (although over at html2pdf.js people say it worked for them), if you take a look at my fork: https://github.com/adronitis/vue-html2pdf/commit/4053e8a25349f5592e6f91b74ee31c3711884d5c

I simply added an additional settings to html2canvas so I can link remote images.

					scale: this.pdfQuality
         			useCORS: true
				},

Hope this helps!

[2020-06-30 11:47] kempsteven commented on #10
Thanks for the answer above I saw another issue of this package which lacks control on configuring the options of html2pdf.js, I will implement a way so the user could adjust all configs on html2pdf.js soon

As for now you have to wait for the image to render on the image tag before generating the PDF, so make sure to not generate the pdf while converting the image to a base64 and assigning it to

[2020-07-01 08:21] bArraxas opened #14 "Practical question : how it works the "paginate-elements-by-height" property ?"
Hello,

I'm not sure to understand the operation of "paginate-elements-by-height" property.
I have a page of 2424px of height containing some "&lt;section&gt;" :

section 1 : '121px' of height
section 2 : '495px' of height
section 3 : '311px' of height
section 4 : '84px' of height
section 5 : '156px' of height
section 6 : '553px' of height
section 7 : '455px' of height

(I had too some margins bet

[2020-07-01 13:08] kempsteven commented on #14
Lets say you set the value of `paginate-elements-by-height` to **650**, that means per page you will have a maximum of  height of `650px` .

The script will loop through each sections, and add their height + margin top + margin bottom.

So lets take your sample sections into the example, it will work something like this:

section 1 : '121px' of height
section 2 : '495px' of height
section 3 : '311

[2020-07-04 07:38] kempsteven commented on #11
You can now have access to the html2pdf.js options by using the prop `html-to-pdf-options` in version 1.4.0

Details of the props can be seen here:
https://www.npmjs.com/package/vue-html2pdf#html-to-pdf-options

[2020-07-04 07:38] #11 closed

[2020-07-04 07:47] kempsteven commented on #10
You can now configure all options of html2pdf.js, using the props `html-to-pdf-options`

More details about the props here:
https://www.npmjs.com/package/vue-html2pdf#html-to-pdf-options

[2020-07-06 13:17] rubenreyes2000 commented on #11
Sweet! Thank you!

[2020-07-07 12:43] adronitis opened #15 "Adding margin to options cut text in half"
After adding margin (say 10 on 4 side) to options, sometimes text get cut off. I tried using the .pdf-item but doesn't seems to be working. Whats the best way to resolve this?

![WhatsApp Image 2020-07-06 at 12 44 06](https://user-images.githubusercontent.com/1169705/86783136-37931180-c060-11ea-8992-5d85c65c6639.jpeg)

[2020-07-07 13:27] adronitis commented on #15
Ok, it looks like if I add:

`pagebreak: { mode: ['avoid-all', 'css', 'legacy'] }`

This would make the .pdf-item breaks properly when using margin. I suggest maybe is also good to add this as an option.

[2020-07-07 13:27] #15 closed

[2020-07-07 23:59] kempsteven commented on #15
Hmm, I believe you can add that on html-to-pdf-options, ill have to test it first before adding it to documentation though.

I also recommend that you set the margin to 0 on the options for the script to work better. just add the margin on your .pdf-item elements, I still haven't added the margin option to the calculation of pagination, will take note of that.

[2020-07-13 16:27] marcodeluca commented on #14
Hey, nice package has helped me use jsPDF in our project.

Having issues with page break and top/bottom margins though. Any update on the page break feature? Been playing with this for an hour and no matter what I try between sections, styles and paginate-elements-by-height, my dynamic content will sometimes get split in bad places (like a single word or sentence on the next page) and without bein

[2020-07-14 00:12] kempsteven commented on #14
Hey, im a bit busy but I might get it done within this week i presume.

[2020-07-15 12:10] kempsteven commented on #14
Hey, The page breaks is now available on version 1.6.0
You can also disable the automatic pagination by enabling the prop `manual-pagination`

Here is the [documentation](https://www.npmjs.com/package/vue-html2pdf#page-break)

[2020-07-15 12:10] #14 closed

[2020-07-15 13:07] bArraxas commented on #14
Great job !
the previous version (1.3) was buged, i had all tryed but sometimes the script run at infinite (100% processor activity) without render any pdf :(
This version (1.6) never bug what i seen !

It's just in console you (or html2pdf) forgot to disabled the "trace mode" 😄

[2020-07-15 13:09] bArraxas commented on #9
Great job !
The previous version (1.3) was buged, i had all tryed but sometimes the script run at infinite (100% processor activity) without render any pdf :(
This version (1.6) never bug what i seen !

It's just in console you (or html2pdf) forgot to disabled the "trace mode" ;-)

[2020-07-15 13:09] #9 closed

[2020-07-15 17:02] marcodeluca opened #16 "Page Break works great - still can't get margin's right."
Hey, thanks for the 1.6.0 update, page break works great. Still can't get margins right though. Any suggestions how how to get better top/bottom margins:

![Screen Shot 2020-07-15 at 12 49 57 PM](https://user-images.githubusercontent.com/968926/87573290-b0b2ea00-c69a-11ea-82a6-1c681b08d055.png)

I've tried playing with the data options, but the below does nothing:

[code]

and I've also tried usin

[2020-07-15 23:43] kempsteven commented on #16
Hey, You should use an array instead of an object for margin

**Sample:**
[code]
https://www.npmjs.com/package/vue-html2pdf#html-to-pdf-options

If that still doesn't work, you could use a padding style on that overlapping element instead or use a page break above that paragraph that is overlapping.

[2020-07-16 09:59] marcodeluca commented on #16
Yah unfortunately the margin has no effect even fixing it as an array. And using padding causes text to "disappear" in the crack. The issue is this is dynamically generated text. I cannot easily add page breaks without doing the height calculations that html2pdf is doing. Seems like it should be easy to define the height of the page with appropriate top/bottom margins, i just don't understand why

[2020-07-16 11:07] vana-dev opened #17 "styles not working"
No idea why, on preview-modal looks fine, but after generating I get plain text pdf :/ Also it doesn't work only on web server, when I run project on localhost, styles works.

[2020-07-16 12:15] kempsteven commented on #17
Hmm where did you deploy your project? I deployed the [demo app](https://vue-html2pdf-demo.netlify.app/) for this package in Netlify and it works perfectly.
Please give me more context so we could try and debug it

[2020-07-16 12:33] vana-dev commented on #17
Project is running in custom web server, I can't share, source code. It runs on newest version on nuxt.js 2.13.3 and node v10.14.2 component config:

`    <vue-html2pdf
      ref="html2Pdf"
      :show-layout="false"
      :enable-download="true"
      :preview-modal="false"
      :paginate-elements-by-height="1200"
      filename="products"
      :pdf-quality="2"
      pdf-format="a4"
      pdf-o

[2020-07-16 12:42] vana-dev commented on #17
Ok, I figured it out. I had already installed jspdf module, so I removed it, and reinstall vue-html2pdf. Now everything works fine.

[2020-07-16 12:42] #17 closed

[2020-07-16 13:08] kempsteven commented on #16
So I tried recreating what you did, I created a pdf content with one child element inside it. Inside the child element contains an estimated of 1000 words. Here is the [sample](https://pastebin.com/hGcN3NLc)

I used the margin with a value of 0.3 for bottom
`margin: [0, 0, 0.3, 0],`

It worked perfectly it did what it supposed to do with the page, here is the sample:
![image](https://user-images.g

[2020-07-16 13:15] kempsteven commented on #17
Okay cool

[2020-07-16 13:17] kempsteven commented on #13
Feel free to open this issue again, if you still have questions.
Also if possible please use English, I had to google translate that haha

[2020-07-16 13:17] #13 closed

[2020-07-17 02:19] 1591582901 opened #18 "Does the generated pdf contain html elements?"
Hello, the pdf I am generating is a pure picture, can I generate text or pdf with hyperlinks?

[2020-07-17 03:05] #18 closed

[2020-07-17 12:47] kempsteven commented on #18
It seems you have resolve your issue, but for future reference of other users you can generate pdf with hyperlinks by setting the `enableLinks` to `true` on `html-to-pdf-options` props.

**Here is a sample:**

[code]
Documentation for [html-to-pdf-options props](https://www.npmjs.com/package/vue-html2pdf#html-to-pdf-options)

[2020-07-19 02:25] 1591582901 commented on #18
Thank you very much!

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Kemp Steven"<notifications@github.com&gt;;
发送时间: 2020年7月17日(星期五) 晚上8:47
收件人: "kempsteven/vue-html2pdf"<vue-html2pdf@noreply.github.com&gt;;
抄送: "心若向阳，何惧忧伤。"<1591582901@qq.com&gt;; "State change"<state_change@noreply.github.com&gt;;
主题: Re: [kempsteven/vue-html2pdf] Does the generated pdf contain html elements? (#18)

[2020-07-21 04:19] nongtiny opened #20 "Image is blocked by CORS"
I fetch an image from CDN, and I already set useCors: true, but it's still got blocked.

[2020-07-21 05:53] nongtiny opened #21 "Generate PDF always leave first page as blank page"
In the element, I saw that it inject the div.html__page-break inside. How to remove that?

[2020-07-21 11:44] kempsteven commented on #20
hmm do you have any cors error on the console?
can I have a sample image URL from that cdn?

[2020-07-21 11:46] kempsteven commented on #21
That only happens if your 1st child element height /w margin top and bottom on your `pdf-content` slot is greater than your prop `paginate-elements-by-height` value

[2020-07-31 14:28] PlinioMayer opened #22 "Uknown padding left in landscape mode"
First of all I would like to thank you for your software, it actually saved me in my work. I had a great time generating pdf's in portrait mode, no problems. But when I try to generate in landscape, the layout preview looks fine, but the generated pdf comes with a padding left that I can't get rid off

`<vue-html2pdf
      :show-layout="true"
      :enable-download="true"
      :preview-modal="tru

[2020-08-01 02:38] kempsteven commented on #22
Hey thanks for appreciating my work!

I tried replicating what you did from your example, Here is my code:
![image](https://user-images.githubusercontent.com/51051704/89092180-1e248180-d3e2-11ea-9cee-8b6a82a219a2.png)

and here is the result, I can't seem to replicate your issue.
![image](https://user-images.githubusercontent.com/51051704/89092200-4318f480-d3e2-11ea-958d-66e32bab7c59.png)

But whe

[2020-08-11 14:58] sid3r opened #23 "Can't load image"
I'm using vue-cli to serve an app on localhost:8888, the image shows when inside a normal component, no cors issues, but the same code doesn't work with vue-html2pdf.

[code]
[code]

Why doesn't it work? anyone can provide a working example on how to load images.

[2020-08-12 01:02] kempsteven commented on #23
Hmmm that doesn't look like a remote image, **is the image in your local files**?

So my assumption for now is the image path on the src might be wrong.

Enabling the config `html2canvas: { useCORS: true}` is for images that is from a remote server/link.
Have you tried enabling the prop `show-layout` to true to see your layout and if the image loaded?

For a working sample you could see me demo pr

[2020-08-12 09:30] sid3r commented on #23
@kempsteven I actually tried the same code in the vue template and it's working, so I guess that's fine there's no issue with the the image path.

The same code doesn't work for the pdf, I just added the _useCors: true_ to see if it changes anything, but no it's has no effect cause it's useless here as you mentioned. So where's the issue exactly? I expected local files to work out of the box ...

[2020-08-12 10:01] #23 closed

[2020-08-13 23:49] kempsteven commented on #23
Ohh okay cool, thanks for telling I wasn't aware we can't load .svg images

[2020-08-14 15:57] miketrebilcock opened #24 "Confirm Licencing"
This is a great library.  Sorry to be a pain, but can you confirm the licence for use.  Thank you

[2020-08-14 17:45] sid3r commented on #23
You're welcome, now you can implement that too. Actually it took me some time to resolve the issue since I supposed that svg is supported out of the box.

[2020-08-15 04:45] kempsteven commented on #24
Haven't added a license yet, I'll be adding an MIT license for this

[2020-08-15 04:45] kempsteven commented on #24
Also thanks for appreciating my package!

[2020-08-15 07:48] bhushan commented on #23
why .svg is not supported then ?? @kempsteven

[2020-08-15 08:10] bhushan opened #25 "When we click on close button from modal it popups again and again.."
[code]

using this method with example template you given ..

[code]

[2020-08-15 08:35] kempsteven commented on #25
Have you tried adding console.log on the download method of yours to see if you are only triggering the method once?

Also if you don't need the preview modal, you could set the props `:preview-modal="false"`

[2020-08-15 08:44] kempsteven commented on #24
The license is now attached

[2020-08-15 08:44] #24 closed

[2020-08-15 08:45] bhushan commented on #25
preview-modal is fantastic option i want to use it.

and when i click close button from modal .. it triggers preview modal again.. i was debugging this this is something related to has already parsed and progress..

[2020-08-15 08:45] bhushan commented on #25
I noticed progress goes to zero and then again it starts parsing.. i am checking it .. will ping you here if i found anything..

[2020-08-15 08:49] kempsteven commented on #23
Hey @bhushan, this is an issue with html2pdf.js
as mentioned by the creator [here](https://github.com/eKoopmans/html2pdf.js/issues/185#issuecomment-455869320)

You could try and do this using the [html-to-pdf-options](https://github.com/kempsteven/vue-html2pdf#html-to-pdf-options) props:
sample:
[code]

[2020-08-15 09:02] kempsteven commented on #25
Hmm with what you said I believe that the method `this.$refs.html2Pdf.generatePdf()` is being called multiple times.

Let's try and debug it, open your inspect element, console tab.
Try adding console.log on your download method and reproduce the preview modal issue and let's see if it logs something on the console

[2020-08-22 13:54] acetilholin opened #26 "npm install issue"
During installation process an error will occurs:

undefined ls-remote -h -t ssh://git@github.com/eligrey/FileSaver.js.git

[2020-08-24 15:01] acetilholin commented on #26
This solves the issue

[2020-08-24 23:48] kempsteven commented on #26
cool

[2020-08-24 23:48] #26 closed

[2020-09-01 15:14] ShetlandJ opened #27 "Can the component act as a wrapper?"
Firstly thank you for providing this repository, which I've found very helpful.

This isn't a bug/code issue but I wasn't sure the best place to ask.

In my Vue file, I have a heap of content:

[code]
I want to use vue-html2pdf and wrap the _existing content_, is that possible? I've tried using it as an outer wrapper for content it does not render/show my Vue code inside the <vue-html2pdf> element

[2020-09-01 15:35] ShetlandJ commented on #27
I solved my own problem using CSS and overrides. If anyone else encounters this issue, I just added this into my css file:

[code]

[2020-09-01 23:52] kempsteven commented on #27
Hey, thanks for letting me know, will come up a solution for this use case

[2020-09-02 08:55] ShetlandJ commented on #27
Would you accept a PR? I've not contributed to an open source project before but I'd like to try with this one if possible?

[2020-09-02 14:02] kempsteven commented on #27
Hmm yeah that would be cool, ill set it up tomorrow

[2020-09-02 14:45] ShetlandJ commented on #27
I think I should be able to fork and PR the fork, and that should do it, I'll try tonight. Thanks!

[2020-09-03 00:16] kempsteven commented on #27
Sure you could try that, Just make sure you make the current behavior of the layout to be a default and just give them an option of making the layouts content to not float, Thanks as well!

[2020-09-03 19:31] ShetlandJ commented on #27
@kempsteven when you're working on it locally, how to do test your changes? I only see build scripts in the package.json (sorry, I've not done much contribution to open source code like this)

[2020-09-04 00:09] kempsteven commented on #27
Have not set up any unit tests yet, for now I only do manual testing, you could pull the [vue-html2pdf-demo](https://github.com/kempsteven/vue-html2pdf-demo) to do the test.

I just make sure the changes works on the latest version of Chrome, Mozilla, and Edge.

It's cool man, Its my first time working with someone on an open source project

[2020-09-08 08:31] guidouil opened #28 "Internet explorer 11 blank page"
Hello, I have an issue loading my nuxt based site in IE11 just after installing and setting up the package.
It seems it won't accept the `for...of` command in the code...
You can reproduce this bug by using IE11 to visit the demo site.
Can you help me out ?
Thanks

[2020-09-08 12:10] guidouil commented on #28
Further more, I tried many of the solutions found in this [issue](https://github.com/nuxt/nuxt.js/issues/4432)
From Babel extensions to polyfill.io but did not found any working one 😕

[2020-09-08 12:29] kempsteven commented on #28
Hey man, the `for of` loop is not supported in any IE version, only in edge, can be seen [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/for...of), I do know that feeling I hate building apps IE compatibility lol

Anyways, if you want to have a quick solution try forking this project and change the for of loop to a traditional for loop.

I'd try implementing bro

[2020-09-09 13:30] enzostvs opened #29 "Display element only pdf"
Hi !
I use the module for Nuxt, everything works perfectly, thank you.
I just had a problem, can we add elements in the DOM but **only visible for the pdf generation**?

Thanks,
Enzo

[2020-09-10 12:29] kempsteven commented on #29
Hi!
For now, its a bit redundant but to do that use case you could create a separate component for the user facing elements and a separate component for the elements to be converted to a PDF.

May I ask why you need that use case?

[2020-09-14 13:03] enzostvs commented on #29
Thank you very much for your feedback.
I need it because on the designer's mock-up the button is integrated at the same level as the pdf elements.

[2020-09-15 01:26] kempsteven commented on #29
Ohh okay cool, you're welcome!

[2020-09-15 01:26] #29 closed

[2020-09-15 01:31] kempsteven commented on #27
Hey man, Just heads up, I might become less busy in the next few days and I might do this update

[2020-09-19 14:16] kempsteven commented on #27
This is now done in version 1.7.2, yay

Just need to set `float-layout` to false and you'll be able to do this.

[2020-09-19 14:16] #27 closed

[2020-09-19 14:17] kempsteven commented on #16
Feel free to open this, if the issue persist!

[2020-09-19 14:17] #16 closed

[2020-09-19 14:18] kempsteven commented on #20
Feel free to open this, if the issue persist!

[2020-09-19 14:18] #20 closed

[2020-09-19 14:18] kempsteven commented on #21
Feel free to open this, if the issue persist!

[2020-09-19 14:18] #21 closed

[2020-09-19 14:19] kempsteven commented on #22
Feel free to open this if the issue persist!

[2020-09-19 14:19] #22 closed

[2020-09-19 14:19] kempsteven commented on #25
Feel free to open this if the issue persist!

[2020-09-19 14:19] #25 closed

[2020-09-19 14:31] ShetlandJ commented on #27
Cool sorry mate I got sidetracked

[2020-09-20 23:55] kempsteven commented on #27
Its cool man

[2020-09-24 13:35] TargiX opened #30 "How I can add footer with page numbers and date?"
Hi, thanks for you great work, I want to add footer with date and current page. I see that this is possible with html2pdf [https://github.com/eKoopmans/html2pdf.js/issues/21#issuecomment-447028134](https://github.com/eKoopmans/html2pdf.js/issues/21#issuecomment-447028134) , but how I can do it with this plugin?

[2020-09-25 00:28] kempsteven commented on #30
Hey, thank you for appreciating my work.
Hmm I was not aware we could do that with html2pdf.js, so unfortunately we don't have that feature as for now.
I will mark this as an enhancement and maybe work on this on this weekend or next week.

[2020-09-25 01:26] moktc commented on #30
Hi I am also looking for the ability to add header and footer to the page. Thanks.

[2020-09-25 07:00] alfligno opened #31 "jsPDF window is not defined"
Hello guys, I have this error while using the package,
I guess this is came from jspdf

Im using nuxt by the way :)
[code]

[2020-09-25 08:11] kempsteven commented on #31
Hey man, when using in nuxt you need to do it this way
https://www.npmjs.com/package/vue-html2pdf#using-in-nuxtjs

[2020-09-25 08:14] kempsteven commented on #30
Hi @moktc , will add that enhancement in maybe a few days or a week.

[2020-09-25 08:14] kempsteven commented on #31
Feel free to open this issue if the problem persists!

[2020-09-25 08:14] #31 closed

[2020-09-25 09:02] alfligno commented on #31
Thanks man, I thought it wouldn't be necessary, I will try it :)

[2020-09-29 14:35] enzostvs opened #32 "TypeError: Cannot read property 'type' of undefined"
Hi
I local environment i have no error when i generate PDF
So in prod environment i have this error:
<img width="689" alt="Capture d’écran 2020-09-29 à 16 34 38" src="https://user-images.githubusercontent.com/15983122/94572765-ace23d00-0271-11eb-90d7-d69f8038052d.png">

I don't have anywhere in my code a "type" key or any other key...
Thanks you for your help

[2020-09-30 02:31] kempsteven commented on #32
Hi, what version are you using?

[2020-09-30 02:32] kempsteven commented on #32
I don't have forEach loop on the latest build

[2020-10-03 07:10] kempsteven commented on #30
Pagination and headers can now be achieved in version 1.8.0. Be also careful since I have changed a few event names see details [here](https://www.npmjs.com/package/vue-html2pdf#migrating-from-17x-to-18x-and-so-on).

I created an event called `@beforeDownload`, the event arguments are `html2pdf.js`, `option`s, and `pdfContent`. Now you can have the full control of the html2pdf.js's API.

Here is t

[2020-10-03 07:10] #30 closed

[2020-10-05 20:16] luiztsmelo opened #33 "Progress always showing 70%"
I am generating a pdf with 13 sections (charts), and it would be great if the progress matched the generated sections, or something like this. It is possible?

[2020-10-06 00:00] kempsteven commented on #33
Yeah, for now the progress is only for pagination and pdf generation. thats why its only 70% then 100%.

This package relies on html2pdf.js.
In their documentation they mentioned that they have a [progress tracking](https://www.npmjs.com/package/html2pdf.js#progress-tracking), but its not very clear how we get that progress, that is the reason why we dont have a proper progress yet, would still ha

[2020-10-06 00:25] luiztsmelo commented on #33
Ok, thanks @kempsteven

[2020-10-06 00:25] #33 closed

[2020-10-06 20:35] Trimakas opened #34 "Blank PDF Created"
I've just copy and pasted the examples and I'm not getting diddly.. Just a blank page.. Any ideas?

Here is my code:

     `<div>
        <vue-html2pdf
          :show-layout="false"
          :float-layout="true"
          :enable-download="true"
          :preview-modal="true"
          :paginate-elements-by-height="1400"
          filename="hee hee"
          :pdf-quality="2"
          :manual-

[2020-10-06 20:48] Trimakas commented on #34
One more thing, when I debug this `this.$refs.html2Pdf` I am getting a Vue Component. Which I believe is correct?

[2020-10-06 22:45] kempsteven commented on #34
Hi what version are you using?

[2020-10-06 22:48] Trimakas commented on #34
In my package.json I'm running `"vue-html2pdf": "^1.8.0",`

[2020-10-06 22:49] Trimakas commented on #34
And then here is my entire package.json

`{
  "name": "bella",
  "private": true,
  "dependencies": {
    "@mdi/font": "^5.5.55",
    "@rails/actioncable": "^6.0.0",
    "@rails/activestorage": "^6.0.0",
    "@rails/ujs": "^6.0.0",
    "@rails/webpacker": "4.2.2",
    "animate.css": "^3.7.2",
    "axios": "^0.19.2",
    "babel-preset-stage-2": "^6.24.1",
    "jspdf": "^2.1.1",
    "lodash": "^4.17

[2020-10-06 22:53] kempsteven commented on #34
Hmm thats weird that should work, any errors on the console?

Also try looking at the demo repo here
https://github.com/kempsteven/vue-html2pdf-demo

[2020-10-06 22:55] kempsteven commented on #34
Are you using nuxt.js or just vue?

[2020-10-06 23:39] Trimakas commented on #34
Yea just Vue.. and nothing in the console.. super weird..

[2020-10-06 23:43] Trimakas commented on #34
When I `debug` my Vue code and I look at what this `this.$refs.html2Pdf` captures I get the below info

`VueComponent {_uid: 906, _isVue: true, $options: {…}, _renderProxy: Proxy, _self: VueComponent, …}
$attrs: (...)
$children: []
$createElement: ƒ (a,b,c,d)
$el: div.vue-html2pdf
$listeners: (...)
$options: {parent: VueComponent, _parentVnode: VNode, propsData: {…}, _parentListeners: {…}, _render

[2020-10-06 23:45] Trimakas commented on #34
but yea when I do this: `this.$refs.html2Pdf.generatePdf()` I just get `undefined

[2020-10-07 00:07] kempsteven commented on #34
Not sure whats happening on your side, But can you try copy pasting this, this works for me:

[code]

Result:
![image](https://user-images.githubusercontent.com/51051704/95272857-14048080-0874-11eb-8bba-ec775de9b9cc.png)

[2020-10-07 13:08] Trimakas commented on #34
Hmm, I am getting some CORS errors now.. not sure why..

`VM4772:1 Refused to connect to 'blob:https://bella.skuagency.com/c8441586-2ffd-4d29-b9f1-d3dbbd225ec8' because it violates the following Content Security Policy directive: "connect-src 'self' https: http://localhost:3035 ws://localhost:3035".
(anonymous) @ VM4772:1
_callee$ @ vue-html2pdf.esm.js:229
tryCatch @ runtime.js:45
invoke @ runtime

[2020-10-07 15:36] Trimakas commented on #34
I did notice in another post here that you can pass options along to HTML2pdf.. but I'm not sure how? Any ideas?

[2020-10-07 22:40] kempsteven commented on #34
You can see here at the docs to get the [full details](https://www.npmjs.com/package/vue-html2pdf#props) of that.

Using the props `html-to-pdf-options`, you can configure the whole html2pdf.js options, here is a [sample](https://www.npmjs.com/package/vue-html2pdf#sample-value-of-html-to-pdf-options)

To get full control of the html2pdf.js you can use the @beforeDownload event, see details [here](

[2020-10-12 21:41] mlanders opened #35 "Filename in preview modal"
When viewing preview-modal and downloading from that PDF viewer the filename provided as a prop isn't used.

Is there a way to get the filename to be used when viewing and downloading from the preview modal?

[2020-10-13 00:26] kempsteven commented on #35
Hey there, as for now that is not possible yet, I will fix this issue in next days or week.

For version 1.8.x
If you want to create your own preview modal and add a filename to be used when viewing and downloading
you can set these props to false:
[code]
and then use the `@beforeDownload` event and then generate your pdf blob and work out a way to add it to a modal.

Here is the complete detail o

[2020-10-13 06:34] kempsteven commented on #32
Feel free to open this issue again if it persists, thanks!

[2020-10-13 06:34] #32 closed

[2020-10-13 23:27] mlanders commented on #35
I was able to work around it for the time being but I appreciate you looking into it.

Thanks @kempsteven

[2020-10-14 00:29] kempsteven commented on #35
Alright thanks @mlanders

Did you still use vue-html2pdf or html2pdf.js packages?
If yes and if you have time could you share your solution?

Thanks again!

[2020-10-14 15:54] mlanders commented on #35
I'm displaying my html content in a modal not in the vue-html2pdf preview-modal.
I have provided the user with download button that uses vue-html2pdf to download as a pdf.

[2020-10-15 01:35] kempsteven commented on #35
Cool, thank you for sharing

[2020-10-19 07:47] jeffersonbabuyo opened #36 "Property 'generatePdf' does not exist on type 'Vue'."
I am getting this error when using it on vuejs with typescript.

I have imported it and register it in my @Component()

![image](https://user-images.githubusercontent.com/10564871/96416091-21c9e680-1222-11eb-8140-5d9e22944c97.png)

[2020-10-19 08:12] jeffersonbabuyo commented on #36
all good now....closing this issue

[2020-10-19 08:12] #36 closed

[2020-10-19 17:02] jeffersonbabuyo opened #37 "spacing on top after pdf is generated"
hello @kempsteven , I am trying to use this package to generate pdf but I am curios why there's a few spacing on heading part?
![image](https://user-images.githubusercontent.com/10564871/96487881-cd4d5800-126f-11eb-9fd6-38e31fde990d.png)

here is on how I did use it:
![image](https://user-images.githubusercontent.com/10564871/96487943-e1915500-126f-11eb-8d4b-c4b72190ac90.png)

[2020-10-19 17:05] jeffersonbabuyo commented on #34
@Trimakas - I encountered this error before you need to control the css `.vue-html2pdf .layout-container` in order for this to work on your end. See  screenshot:
![image](https://user-images.githubusercontent.com/10564871/96488280-4ea4ea80-1270-11eb-8e11-927b29eb193b.png)

As you can see I have to override the default css

[2020-10-19 22:56] kempsteven commented on #37
Hi @jeffersonbabuyo,
hmmm possibly a styling issue, can you add `border: 1px solid red;` on all elements of pdf-content?

[2020-10-20 03:23] rickshawhobo opened #38 "Cannot install via npm"
Getting this error when doing `npm i vue-html2pdf`

[code]

[2020-10-20 03:56] jeffersonbabuyo commented on #37
Hi @kempsteven - you mean like this?
![image](https://user-images.githubusercontent.com/10564871/96538521-49c15480-12cb-11eb-9847-ad49c35e62e8.png)

[2020-10-20 04:02] jeffersonbabuyo commented on #37
I also tried like this:

![image](https://user-images.githubusercontent.com/10564871/96538840-1c28db00-12cc-11eb-82e2-8b82ae99a899.png)

Then after generating

![image](https://user-images.githubusercontent.com/10564871/96538860-2a76f700-12cc-11eb-8b55-0603cf3c9c0b.png)

[2020-10-20 10:23] kempsteven commented on #38
Hmm could you try and delete your /node_modules folder and do an `npm install` and then do the `npm i vue-html2pdf`?

[2020-10-20 10:28] kempsteven commented on #37
hmmm cant seem to replicate it on my side, what version are you using?
also can I get a sample of your `pdf-content` so I can debug it on my side?

[2020-10-20 10:37] kempsteven commented on #37
**Result of replication:**
version: 1.8.0

![image](https://user-images.githubusercontent.com/51051704/96575175-01258d80-1303-11eb-9721-adceb0fe67ef.png)

**Sample of my `pdf-content`:**

![image](https://user-images.githubusercontent.com/51051704/96575254-1c909880-1303-11eb-8ae4-40da223d280a.png)

PS No need to inline style was just lazy lol

[2020-10-20 10:39] kempsteven commented on #38
Same issue as this https://github.com/kempsteven/vue-html2pdf/issues/26

[2020-10-20 13:48] rickshawhobo commented on #38
I think the ssh format is `ssh://git@github.com:eligrey/FileSaver.js.git`

[2020-10-20 14:11] rickshawhobo commented on #38
I tried the solution btw and it does not work for me. Same error.

[2020-10-20 19:21] jeffersonbabuyo commented on #37
Hello @kempsteven - I agree on you it's a css issue. It is now fixed and closing this ticket.

[2020-10-20 19:21] #37 closed

[2020-10-20 22:48] kempsteven commented on #37
Cool, can you share what css issue was it so that I could that note of it?

[2020-10-21 03:18] jeffersonbabuyo commented on #37
Hello @kempsteven - It wasn't the package css issue that is causing the problem it was my custom css that I implemented.

[2020-10-21 12:27] kempsteven commented on #38
Are you still experiencing this problem? I tried replicating it in a fresh project using vue cli and I ran the command `npm i vue-html2pdf` and it works.

I researched and it seems there is a problem in the package [jsPDF](https://github.com/MrRio/jsPDF/issues/2634) which is a package that used by html2pdf.js

[2020-10-26 21:31] Master-Y0da opened #39 "[QUESTION] Close button destroys pdf object ?"
I have a table like this:

[Caption](https://prnt.sc/v7etj7)

When I click the last button in each row...a pdf is generated. Internally I send a request to an API with the corresponding id for each row. first time it prints all good. But when I click another button on different row...the content doesn't update, it just print the first pdf with the exact same data.

 I checked the object that conta

[2020-10-26 22:56] kempsteven commented on #39
Can I also see the code for the (element/component) you are trying to generate a pdf from?

[2020-10-26 23:49] Master-Y0da commented on #39
The content that doesn't update is all before the v-for table. Here it is:

             <section slot="pdf-content">

                <img src="@/assets/Logo_smile.png" width="160" alt="">
              <div >
                <div style="text-align:center">
                    <h1>Presupuesto Dental</h1>
                </div>
                <v-container style="margin-top:6%">

[2020-10-27 03:12] kempsteven commented on #39
Hmm i think this is a rendering issue. does the desserts have an id?
can you try adding a key on the slot, like this:
[code]

So what would happen here is when you assign a different desserts `this.desserts = obj;` the slot will re-render because the `desserts.id` changed and should display the new data.

[2020-10-27 13:30] Master-Y0da commented on #39
I have an axios call whit different Id, for each row of the table...like this:

            this.$axios.get(process.env.VUE_APP_API_URL+'admin/presupuestos/'+obj.id) <---id per row
            .then(function (response){
              console.log(response)
              var today = new Date();
              var date = today.getDate()+'-'+(today.getMonth()+1)+'-'+today.getFullYear();

[2020-10-27 17:35] Master-Y0da commented on #39
Is there any way of clean the dessert object after click the close button ?

[2020-10-27 22:59] kempsteven commented on #39
Have you tried what I suggested? What I'm guessing the issue is that the object was updated but the changed has not yet rendered on the dom, so to force the rerender we add that key on the element.

This is just for debugging purposes but can you also add a settimeout on the generateReport, like this:
[code]

If things worked by adding the settimeout, and key its definitely a render issue.

One mo

[2020-10-28 00:08] Master-Y0da commented on #39
It works!!...adding set did the work!!...Thank you so much for your patience and predisposition.

Now I'm facing this hahaha [caption](https://prnt.sc/v8ao4h).

Don't know why it truncates the content...it's just some h1 and p tags...

[2020-10-28 11:38] Neophen opened #40 "Units passed to jsPDF, seems to have no effect"
**Describe the bug**
When using the `html-to-pdf-options` prop, the `jsPDF` units options seems to have no and always assumes `pt`.

**To Reproduce**
[code]

**Package Version**
1.8.0

[2020-10-28 11:56] Neophen commented on #40
After looking at the source it seems this is an issue with jsPdf, and not this library as you're simply passing the config.

[2020-10-28 12:38] kempsteven commented on #40
Alright cool, I'll be closing this now.

[2020-10-28 12:38] #40 closed, assigned to kempsteven

[2020-10-28 13:19] Master-Y0da commented on #39
adding this works fine! :

`<div class="html2pdf__page-break"/>`

[2020-10-28 13:19] #39 closed, assigned to nobody

[2020-10-28 22:36] kempsteven commented on #39
Cool :)

[2020-11-01 12:04] cod3master opened #41 "bring back @hasGenerated"
The hasDownloaded is not a valid replacement for my usecase.

I just need the old @hasGenerated(blob) function with nothing else, because the code will handle the rest.

I don't want any kind of automatic download and setting enable-download = false, doesn't trigger beforeDownload so I have no way to intercept the pdf blob and cancle the download event after that.

I think @hasGenerated can still

[2020-11-01 22:46] kempsteven commented on #41
Hmm `@beforeDownload` should trigger, and you should get the object `{ html2pdf, options, pdfContent }`.

and yeah I understand the reason, I'll go and think about it more, thanks!

[2020-11-02 19:40] rickshawhobo commented on #38
I have found no way to make this work, unless I can install jsPDF 1.4.1 BEFORE installing html2pdf but in the package.json file it always tries to install html2pdf before jsPDF. I really don't know how it works for you.

[2020-11-02 22:56] kempsteven commented on #38
Crap that's weird, I can't replicate it and it only happens with some selected people.

I believe this happened when I upgraded from html2pdf.js 0.9.0 to 0.9.2, which used a more latest version of jsPDF that could have caused the error, I'm thinking of downgrading the package.

I also saw a few people resolving it by installing jspdf first `npm i jspdf` then installing `html2pdf.js`,
or in this ca

[2020-11-03 14:19] hannah-wj-sky opened #42 "Npm Build issue linked to Uglify-js"
**Describe the bug**
The app runs great, exports pdfs but when I try to run 'npm run build' I get errors that are linked to the Uglify-js plugin that is a dependency of plugins which are dependencies of vue-html2pdf.  So I won't be able to use it in production which is a real shame.

**To Reproduce**
Steps to reproduce the behavior:

1. Create app and running with Visual Studio - works fine, expor

[2020-11-03 22:51] kempsteven commented on #42
What version of vue are you using?
Did you use vue-cli or vite?

I tried replicating it on vue 2.6.11. project is generated by vue-cli 4.5.8, I was not having any problems.
I'm guessing you're using vue 3? This package does not support vue 3 yet.

[2020-11-04 13:49] pashtet86 commented on #38
Hi, the same issue for me.
It's related to loading dependency issue in jsPDF https://github.com/MrRio/jsPDF/issues/2208

[2020-11-04 14:38] hannah-wj-sky commented on #42
Hi, I found the solution here -

https://forum.vuejs.org/t/error-in-build-js-from-uglifyjs-unexpected-token-punc/33604/6

I had to install the 'uglifyjs-webpack-plugin' and then update the Uglify part of my webpack.config file.

```npm i -D uglifyjs-webpack-plugin@1.3.0```

Then:

Old code:

[code]

New code:

```const UglifyJsPlugin = require('uglifyjs-webpack-plugin')```

....

[code]

[2020-11-04 14:38] #42 closed, assigned to kempsteven

[2020-11-07 07:25] Zhbel commented on #38
I found solution:
1) Install jspdf 1.5.2: npm i jspdf@1.5.2
2) install this plugin:  npm i vue-html2pdf
Works for me

[2020-11-08 16:28] NanyThery opened #43 "Can't make it work in Nuxt SSR"
Could you please make a replicate of the current demo in Nuxt? I just cannot make it work following the instructions.

1) I've made the plugin file.
2) I've included as a plugin with mode: 'client'
3) I created a component with the options and the content and wrapped it into a "client-only" tag.
4) called the generate PDF

The component:

[code]

The nuxt config:

[code]

The errors:

![image](htt

[2020-11-08 22:36] kempsteven commented on #43
Hmm can I see your file in this directory: `~/plugins/vue-html2pdf.js`?

It should look like this:

[code]

[2020-11-08 22:50] NanyThery commented on #43
Hi! Thanks for your reply,

Yes, this is what I have in my plugin file:

[code]

Also tried with import * as VueHtml2pdf, but no results

![image](https://user-images.githubusercontent.com/47493473/98486369-3ac02900-221d-11eb-86be-70787650bfa0.png)

[2020-11-09 11:30] kempsteven commented on #43
Weird, the error says that the vue-html2pdf component is not registered, but im not seeing anything wrong on your code.

I uploaded the nuxt project I test on try have a look on it: https://github.com/kempsteven/nuxt-tester/tree/main

[2020-11-10 08:16] NanyThery commented on #43
Thank you so much for the time you put into this. I'll give you feedback as soon as I can test it. Thanks again.

[2020-11-10 16:55] NanyThery commented on #43
Hi again!

An update on this. I did the following and even having copied directly your page and component, still, throws me the error of "have you registered the component"?.
1) Copied exactly the same line in nuxt.config plugins.
2) Installed Babel-core, since I noticed you had it in your package and I didn't
3) I copied and pasted your pages/index and also your content-pdf component in my projec

[2020-11-11 13:43] kempsteven commented on #43
Hello, I'm not exactly sure whats wrong, the main issue is that the component is not registering.

I tried replicating this in a couple of nuxt application types (SSR and JAMStack), still no success in replicating the issue.
You could try implementing this in a new nuxt application and compare the two projects and see what could have been the issue.

Good luck!

[2020-11-12 09:41] corazzi opened #44 ":paginate-elements-by-height not working as expected"
**Describe the bug**
I set `:manual-pagination="false"` and `:paginate-elements-by-height="700"` (for example).
The elements do not move onto the next page after the height limit is reached.

**To Reproduce**
Here is a condensed copy of my Vue component, containing just the settings I'm using and 4 x 250px high elements.

Because the `:paginate-elements-by-height` property is `700`, I would expect

[2020-11-12 12:13] kempsteven commented on #44
Okay I'll get back to you when I replicate the issue

[2020-11-12 12:54] kempsteven commented on #44
Okay so I've replicated the issue, and I've also found a fix.

Using `<template>` on the slot affects the retrieval of elements inside the `pdf-content` slot, which makes the pagination fail.
You should use `<div>` or `<section>` or any other html element.

I also discovered that on the `htmlToPdfOptions.html2canvas`, the `width` property there messes up with the html2pdf.js's page breaks, it coul

[2020-11-13 12:30] NanyThery commented on #43
Hello again!

I could finally manage it to work.

**1) Component not registered.** It seems there was an issue with the packages. Cannot tell which exactly. But it was just ignoring it. So I solved that issue by doing:
npm install
npm audit fix

On the other hand, and not directly related with this issue:

2) I wanted the **pdf download to start as soon as the URL loaded,** so I put the generatePD

[2020-11-13 12:30] #43 closed, assigned to kempsteven

[2020-11-14 00:23] kempsteven commented on #43
Cool :D

[2020-11-17 19:56] lincolnlemos opened #45 "Add custom fonts"
I'm using the beforeDownload event to create extra pages on top of the document PDF generated by the vue-html2pdf

My issue is that I'm not able to add custom fonts.
I'm importing the file generated by the [jsPDF documentation](https://github.com/MrRio/jsPDF#use-of-unicode-characters--utf-8) but It's not working.

Anyone made it work?

[2020-11-17 20:12] lincolnlemos commented on #45
Solved create an export function from the generated file directly to the jsPDF document.

Example:
[code]

[2020-11-17 20:12] #45 closed, assigned to nobody

[2020-11-18 16:35] corazzi commented on #44
Sorry for the late reply @kempsteven but that was absolutely the issue and I managed to get it resolved with those changes. Thank you very much!

[2020-11-18 16:35] #44 closed, assigned to kempsteven

[2020-11-19 07:31] kempsteven commented on #44
Cool, Glad to hear that!

[2020-11-20 04:05] taylanselvi opened #46 "Text not breaking correctly between pages"
**Describe the bug**
I'm splitting up all my sections like it says to do but I can't seem to split up the text between pages.

**To Reproduce**
Steps to reproduce the behavior:
[code]

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/48709479/99756440-4840b180-2b41-11eb-9df8-dfe4bdfd0cb5.png)

**Package Version**
1.8.0

[2020-11-20 07:00] Redhaus opened #47 "text based pdf"
Hello sir,

Quick question on your library
Does this pdf generator have the ability to keep the text as text or does it turn everything into an image.
I have mostly text-based content I need to generate PDF's from, but I need the PDF's to be searchable after download

Any insight you can offer would be much appreciated.

[2020-11-20 10:23] kempsteven commented on #47
Hey @Redhaus,
Unfortunately html2pdf.js renders all content into an image, then places that image into a PDF.
keeping the text as text is not possible yet.

[2020-11-20 18:24] Redhaus commented on #47
No worries, I totally understand. Not your fault.
On another note, if you need this functionality in any of your projects. Where text stays text.
I found this project that allows HTML to be converted directly to pdf using WebKit print functionality.
It looks promising, but I have to dig into it deeper. I hope it helps.

https://github.com/vivliostyle/vivliostyle-print

[2020-11-21 00:37] kempsteven commented on #47
Okay cool thanks for letting me know,
I'll be closing this issue, feel free to open another one if you have any issue

[2020-11-21 00:37] #47 closed, assigned to nobody

[2020-11-22 09:45] taylanselvi commented on #46
Turns out this is due to adding the margin in `htmlToPdfOptions`.

[2020-11-23 22:44] kempsteven commented on #46
Oh cool thats great to hear

[2020-11-23 22:44] #46 closed, assigned to kempsteven

[2020-11-27 02:43] qklhk opened #48 "How should we use it when we are going to print the paper based on a set of HTML structures"
**hello vue-html2pdf author**

I'm in the application vue-html2pdf plug-in We need to present our exam papers in terms of a set of HTML structures，
How do you move a question that is in the middle of two pages to the next page，
Print our test paper and PDF to make it look better

`      <vue-html2pdf
        :show-layout="false"
        :float-layout="true"
        :enable-download="true"

[2020-11-29 23:27] kempsteven commented on #48
Hello,

Have you tried reducing the props `:paginate-elements-by-height` value? That's the value that determines when to page break every page.

Also read this guide on the documentation, you need to format your HTML in a specific way for page breaks to perfectly work:
https://github.com/kempsteven/vue-html2pdf#guide

If things still didn't work out, please comment here again, thanks!

[2020-11-29 23:58] qklhk commented on #48
And in our application the height is variable, so how do we solve that?

[2020-11-30 00:11] qklhk commented on #48
My requirement is that when the current topic is split in pages, we move the current topic (including the next topic) to the next page

[2020-11-30 09:21] kempsteven commented on #48
Okay so you want your topic to stay together when pagination happens right?
You should contain them in one parent element.

**For example this is your `pdf-content` elements:**
[code]

as you can see they are inside a parent element, those elements inside will be paginated together.
also please try playing with the props `:paginate-elements-by-height`, and see what value fit your needs.

[2020-12-07 02:04] qklhk commented on #48
I am very sorry that my problem has been solved and I just saw your information

[2020-12-08 05:31] kempsteven commented on #48
No prob :)

[2020-12-08 05:31] #48 closed, assigned to kempsteven

[2020-12-08 09:32] sujandev opened #49 "vue-html2pdf not working in pad/mobile view on Chrome."
**Describe the bug**
its working on Safari and firefox view but when i tried to open it on Chrome ipad or mobile view it just show a blank area of the content . plz see the attached image.

Google Chrome is up to date
Version 87.0.4280.88 (Official Build) (x86_64)

**Screenshots**
![invoice bug](https://user-images.githubusercontent.com/9714570/101462550-8a059080-3966-11eb-9cbd-0eb375b72d19.jpeg)

[2020-12-09 08:06] kempsteven commented on #49
So it doesn't work on Chrome for Andriod and IOS? and works in Chrome for windows?

[2020-12-09 16:33] #49 closed, assigned to kempsteven

[2020-12-09 16:39] sujandev commented on #49
i checked  from mac. what i am trying to say is  all working in desktop view. but when i try in mobile view from my desktop chrome ( browser mobile view  not from mobile ) using device toolbar by inspecting desktop browser its output is blank.

[2020-12-14 17:23] 3bu1 opened #50 "Textarea content is not visible"
Textarea content is not completely visible

Showing in PDF like this
![image](https://user-images.githubusercontent.com/6350331/102113321-e7b24500-3e5e-11eb-8700-197a3b05ecc6.png)

Actual content like this
![image](https://user-images.githubusercontent.com/6350331/102113531-2647ff80-3e5f-11eb-8e94-ad8aa218d16d.png)

Others Who faced same issue:
https://github.com/kempsteven/vue-html2pdf-demo/issue

[2020-12-15 03:20] kempsteven commented on #50
Let me get back to you after I replicate it

[2020-12-22 09:03] missingeverytime commented on #20
Hi @kempsteven ,
This issue still happened when I add an image to a pdf.
Here is the code.
[code]
[code]
This image displays well on my website,
<img width="587" alt="image" src="https://user-images.githubusercontent.com/16895572/102869798-20fa3e80-4477-11eb-9aa3-ea1d44e9f661.png">
but does not work well when I try to export PDF.
Here is the error message.
<img width="1031" alt="error-msg" src="ht

[2020-12-22 09:06] missingeverytime opened #51 "Image is still blocked by CORS"
Hi @kempsteven ,
This issue still happened when I add an image to a pdf.
Here is the code.
[code]
[code]
This image displays well on my website,
<img width="587" alt="image" src="https://user-images.githubusercontent.com/16895572/102869798-20fa3e80-4477-11eb-9aa3-ea1d44e9f661.png">
but does not work well when I try to export PDF.
Here is the error message.
<img width="1031" alt="error-msg" src="ht

[2020-12-24 01:24] missingeverytime commented on #51
Hi @kempsteven ,
I have found the reason why this problem happened.
The main reason is that the access of  image url should be allowed cross-origin.
The response heads of image must contain `Access-Control-Allow-Origin: *` , `Access-Control-Allow-Methods: GET,OPTIONS`.
Thanks again.

[2020-12-24 01:24] #51 closed, assigned to nobody

[2020-12-24 08:25] 3bu1 commented on #50
Hi @kempsteven any update on this, where you able to replicate?

[2020-12-30 19:34] H2RockyRoad commented on #35
Is this enhancement in progress? We are also looking for this functionality.

[2021-01-01 10:40] SeedSuite opened #52 "Weird space at starting of PDF"
When Generate pdf after scrolling some part of visible content of data, PDF get  unexpected weird space on top.
But when generating PDF without scrolling, It works great.

[hee hee (2).pdf](https://github.com/kempsteven/vue-html2pdf/files/5758827/hee.hee.2.pdf)

"vue-html2pdf": "^1.8.0",
"vue": "^2.6.10",

Here I am uploaded generated PDF from your given demo. When I scroll some content of data an

[2021-01-01 10:41] #52 closed, assigned to kempsteven

[2021-01-04 22:56] kempsteven commented on #50
Hello, I apologize was too busy, anyways this is an on going issue with html2canvas, which is part of html2pdf.js.

See here one of the ongoing issue in html2canvas: https://github.com/niklasvh/html2canvas/issues/2008

I recommend just using a div which is editable rather than a textarea, with the right css I believe that should look like a textarea.

more about the editable div here:
https://deve

[2021-01-05 05:59] 3bu1 commented on #50
thanks @kempsteven . For time being will follow your suggetion.

[2021-01-06 05:44] kempsteven commented on #35
It is currently on hold, sorry

[2021-01-11 07:48] mohammadmrd74 opened #53 "Blank pdf when using table in section"
I used table in pdf-content slot and when I generate the pdf, its all blank.

[code]

[2021-01-11 10:05] kempsteven commented on #53
hmm

[code]

Please add the `</section>`, then try again

[2021-01-13 05:57] mohammadmrd74 commented on #53
yeah I forgot to write that down in my issue. I did this and still it doesnt work

[2021-01-13 09:01] dahyui opened #54 "Content does not render"
**Describe the bug**
I cannot reproduce this consistently all the time, but at times, the pdf displays only the top half of the HTML content and it displays the content halfway down the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup as per documentation.
2. Created a custom component and imported into vue-html2pdf tag
3. Load page, click on the print button (as mentioned above,

[2021-01-13 10:29] dahyui commented on #54
Add another screenshot for reference - you can see in the preview model, the content below the table is not rendered but the HTML has been populated.
<img width="1588" alt="Screenshot 2021-01-13 at 18 24 52" src="https://user-images.githubusercontent.com/11926082/104440129-ee061f00-55cc-11eb-8ae5-35d57d2ffb77.png">

[2021-01-15 08:31] dennybiasiolli opened #55 "Adding margin totally breaks the page"
**Describe the bug**
I'm using the demo repository, changing the margin parameter from `0` to `10`, for example, breaks the PDF generation and the resulting PDF has three blank pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone demo repo https://github.com/kempsteven/vue-html2pdf-demo
2. Install npm packages and launch the demo, the PDF is generated correctly
3. Change from `margin

[2021-01-18 13:33] MohammedAyman2018 opened #56 "Can't get it work with electron-vue."
**Describe the bug**
I'm working on an electron app and I used the electron-vue template. And installed the package with the basic installation but it throws
![image](https://user-images.githubusercontent.com/43143594/104921211-af43e080-59a1-11eb-8c7e-d413db3c8508.png)

**To Reproduce**
I Reproduced the issue in this repo :
https://github.com/MohammedAyman2018/vue-2html-issue

**At least thanks fo

[2021-01-19 00:07] kempsteven commented on #56
Hey Thanks for appreciating my work!
This package does not work with SSR, I'll see if I can make time to find a fix with this for electron-vue

[2021-01-19 00:09] kempsteven commented on #55
Helllo, I think its best to not use the margin, and just adjust the spacing using css,
I'll see if I have time to see the issue for myself

[2021-01-19 00:19] kempsteven commented on #54
Does your pdf content have a really long height?

html2pdf.js uses canvas under-the-hood, canvases have a limit on height & width(limit depends on the browser),
if your html height/width exceeds the limit there will be a chance that the content will be cut off.

Please see known issues:
https://www.npmjs.com/package/vue-html2pdf#known-issues

There is a fix for this, haven't tried yet tho
https://

[2021-01-20 06:50] AndhikaR commented on #34
Hi i'm facing this issue, currently on nuxt 2.14.6, no error on console. using `show-layout` the template is there but when generated just blank white pdf, testing on chrome, firefox, and safari.

already following your code for nuxt using client only

[2021-01-21 16:29] joe-berg-colossus opened #57 "Some portion of the PDF content slot is cut off after PDF is generated"
I have a rather long section of HTML that I am looking to convert into a pdf and allow the user to download. Using this library, I'm able to generate and download the PDF but it appears some of the HTML is getting cut off towards the end. There are images in my HTML that are also not getting added to the PDF although there are no CORS errors on the images when the PDF is being generated.

My compo

[2021-01-21 23:38] kempsteven commented on #57
html2pdf.js uses HTML Canvas under-the-hood, canvases have a limit on height & width(limit depends on the browser),
if your html height/width exceeds the limit there will be a chance that the content will be cut off.

Please see known issues no.6:
https://www.npmjs.com/package/vue-html2pdf#known-issues

Explanation for the canvas width/height limit:
https://stackoverflow.com/questions/6081483/maxi

[2021-01-26 16:47] sebin-simon commented on #36
Could you please share the working demo? where  I need to add any?

[2021-01-26 23:53] kempsteven commented on #36
@s4sebin

here you go:
**Demo Site:**
https://vue-html2pdf-demo.netlify.com/

**Demo Github repo:**
https://github.com/kempsteven/vue-html2pdf-demo

[2021-01-31 07:33] shane-henderson opened #58 "undefined ls-remote -h -t ssh://git@github.com/eligrey/FileSaver.js.git"
Hi

Although I don't think this is a direct issue with vue-html2pdf, unfortunately at the moment I can't install via npm as I'm getting the above error.  vue-html2pdf looks awesome, I'd love to be able to install it and use it in my application.  I am simply trying to run: `npm i vue-html2pdf `.
[2021-01-31T07_16_15_734Z-debug.log](https://github.com/kempsteven/vue-html2pdf/files/5899331/2021-01-3

[2021-01-31 12:28] kempsteven commented on #58
Can you try this solution?

Install jspdf 1.5.2: npm i jspdf@1.5.2
install this plugin: npm i vue-html2pdf

[2021-02-01 10:30] shane-henderson commented on #58
Thank you Steven! That worked !

Sent from my iPhone

[2021-02-01 22:54] kempsteven commented on #58
Cool, You're welcome!

[2021-02-01 22:54] #58 closed, assigned to kempsteven

[2021-02-02 05:58] farshidrezaei opened #59 "utf8 (Persian, Arabic, ... ) support."
how i can use this package for utf texts?

original:
![Result](https://i.ibb.co/rM6L1tq/Screenshot-from-2021-02-02-09-26-26.png)

exported:
![Result](https://i.ibb.co/XLCPT6f/Screenshot-from-2021-02-02-09-23-00.png)

[2021-02-02 22:55] kempsteven commented on #59
I haven't tested yet, could you try this one?
https://stackoverflow.com/a/30557501/10020611

[code]

[2021-02-02 23:48] oscars17 opened #60 "box shadow"
It seems like CSS box-shadow doesnt appear in the converted file, Any way to include it?

[2021-02-03 04:00] farshidrezaei commented on #59
thanks . `text-align` must be `left` or `right`. if be `center` result will be incorrect.

[2021-02-03 04:00] #59 closed, assigned to kempsteven

[2021-02-03 11:57] ravgeetdhillon opened #61 "Colspan and Rowspan are not working"
**Describe the bug**
Even though I specified the colspan and rowspan attributes, they didn't show up in the final PDF output.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a basic table that uses rowspan and colspan.
2. You will see the content being overlapped with the border.

**Screenshots**
![Screenshot from 2021-02-03 17-15-23](https://user-images.githubusercontent.com/27858510

[2021-02-05 17:21] cesolutions commented on #52
Did you end up what was causing this issue? I am experiencing a similar issue

[2021-02-10 21:03] pennal opened #63 "Blank page/blank float window sporadically"
**Describe the bug**
I have a component that I need to use to geenrate a table in a pdf, and then download it. This is a stripped down version

[code]
Depending where this component is placed, the results vary. I have two views that I used, an empty view and a view with all the bookings in a calendar/table (Call them empty and standard respectively). In general there are issues where the pdf name

[2021-02-10 22:54] kempsteven commented on #63
Thank you i will try to replicate this

[2021-02-11 12:09] pennal commented on #63
I created a simple example to show the issue: https://github.com/pennal/test-pdf/

It has the same dependencies as my project, although stripped down. It shows the same issues I described in the empty view

[2021-02-18 01:12] juanjcardona13 commented on #35
Hi, Excusame, any advance please

[2021-02-19 20:58] Sun3 opened #64 "Vue 3 support?"
I installed vue-html2pdf with ```npm i vue-html2pdf``` with a Vue 3 and Typescript application but it does not seem to be compatible. When I try to import ```import VueHtml2pdf from 'vue-html2pdf'``` you get an error ```Could not find a declaration file for module 'vue-html2pdf'```

I also tried ```npm i --save-dev @types/vue-html2pdf``` but that did not work, lot's of errors.

Any suggestions?
Th

[2021-02-21 11:01] kempsteven commented on #64
Hello @Sun3, unfortunately Vue 3 support for this project is not yet available

[2021-02-22 18:54] Sun3 commented on #64
ok, thanks...

[2021-02-23 06:54] Galllarate opened #65 "Plugin behavior at small screen resolutions."
I have installed plugin version 1.8.0. There are several blocks in front of the "Generate" button. If the monitor resolution allows them to stand side by side, the pdf is generated correctly. But if the resolution is smaller and the blocks line up. Every now and then the template for some reason shifts strongly down. In fact, an empty pdf page is generated.

HelloWorld.vue
![image](https://user-im

[2021-02-24 00:31] abreumatheus commented on #60
I second this request.  Really important to have all css functional in a plugin like this.

[2021-03-01 06:07] Galllarate commented on #65
ok, one of the options is for vue-html2pdf to register :html-to-pdf-options="{html2canvas: {scrollX: '0', scrollY: '0'}}".
to some extent, this solves the problem

[2021-03-02 14:07] geoffbeaumont commented on #34
I have exactly the same issue. Doesn't make any difference whether the layout is set to visible or not, and I'm currently only trying to render some simple test paragraphs. I just get a blank white PDF. @jeffersonbabuyo's workaround didn't do anything.

I'm not getting any errors, and the UI is behaving as expected. Can't see anything wrong.

For the record, this is is the code I'm using, on plain

[2021-03-02 14:08] pennal commented on #63
Hi, were you able to look into this?

[2021-03-03 10:00] dudif91 opened #67 "Doesn't handle vuetify styles"
seems like the package ignored the styles of vuetify components.

vue component (vuetify)
![Screen Shot 2021-03-03 at 11 56 52](https://user-images.githubusercontent.com/57500905/109788296-d6840380-7c17-11eb-8f59-ccf84672d298.png)

pdf previewer
![Screen Shot 2021-03-03 at 11 56 43](https://user-images.githubusercontent.com/57500905/109788266-ccfa9b80-7c17-11eb-8cc4-8837481bded3.png)

**Package Ve

[2021-03-03 16:05] Yelloz commented on #67
If you try to add
[code]
inside `<section slot="pdf-content">`

[code]

Does it work for you?
Don't know if it's the proper way to do this but it works on my side.

[2021-03-03 16:42] dudif91 commented on #67
don't know why but it works.... thanks!

[2021-03-03 16:51] dudif91 commented on #67
don't know why but it works...thanks!

actually

also worked

[2021-03-03 17:18] jpcarpenter commented on #34
Encountering the same issue. Copy/pasted the example at https://vue-html2pdf-demo.netlify.app/ and it renders 4 blank pages. No errors in console.

[2021-03-04 03:39] kempsteven commented on #34
Hi guys, life is so busy i apologize, but I'll try to find time for this maybe this weekend.
@geoffbeaumont I will try & re create that

@jpcarpenter @AndhikaR  can you provide your code please?

[2021-03-04 03:40] kempsteven commented on #64
Maybe in the future, but there is no exact date yet, anyways thanks for trying the package!

[2021-03-04 03:40] #64 closed, assigned to kempsteven

[2021-03-04 03:43] jpcarpenter commented on #34
I've actually found a workaround to the issue. I was rendering the `<vue-html2pdf></vue-html2pdf>` on a template with other data initially. I'm now rendering it on it's own dedicated page without any other data and it is working as expected. Not sure what was interfering with it.

[2021-03-04 03:47] kempsteven commented on #67
I'll take note of this.

it probably has to do with the vuetify css library.
the library looks something like this:
![image](https://user-images.githubusercontent.com/51051704/109908152-b5d2b100-7cde-11eb-9521-21aa7073d3b2.png)

I think all css classes is inside the .v-application, i believe html2pdf.js generates the pdf on a separate html doc, and so without the v-app tag, all pdf contents won't

[2021-03-04 03:54] AndhikaR commented on #34
i already make it working, but i forgot which setting that make it work, this is my setting, i guess its allowTaint / useCORS/proxy
[code]

[2021-03-04 09:04] dudif91 commented on #67
@kempsteven I think you're right. I've tested your theory by just using a simple div with "v-application" class name and it worked

[2021-03-04 18:26] ghost opened #68 "Nuxt.js window is not defined in full static mode"
Hi there,

my application is developed with Vue and Nuxt for static content.
the plugin is working fine when the website is running in dev but when I generate the static pages i get this error:

ReferenceError: window is not defined
    at C:\Documents\app-location\app-location\node_modules\jspdf\dist\jspdf.min.js:37:30237

Any Idea how to solve it?

Thanks

[2021-03-04 18:29] ghost commented on #68
This is how i imported the plugin in nuxt.config.js

[code]

This is the vue-html2pdf.client.js' :

[code]

[2021-03-08 08:44] 3bu1 commented on #50
Finally figured out the issue, It is due to floats. Page breaks and floats cannot co-exist.

[2021-03-08 08:44] #50 closed, assigned to nobody

[2021-03-11 09:03] alxistn opened #70 "Some blank pages are rendered when scroll in page before generating the pdf"
**Describe the bug**
When I scroll in the page and then generate the pdf, there is some blank pages/offset applied before the content is rendered in the pdf.
cf. this issue: https://github.com/kempsteven/vue-html2pdf/issues/52

**Package Version**
1.8

[2021-03-11 10:16] #67 closed, assigned to kempsteven

[2021-03-11 10:19] dudif91 opened #71 "Image get cut between pages"
**Describe the bug**
Hi i'm using the package to generate pdf from my page... the output is long and I get this issue as shown in the attached image.

how can I avoid cutting data in the middle?

**Screenshots**
![Screen Shot 2021-03-11 at 12 15 58](https://user-images.githubusercontent.com/57500905/110772318-25f3b080-8264-11eb-9ee0-76506f75ced8.png)

**Package Version**
e.g. 1.8.0

**Additional c

[2021-03-11 21:17] kristofgilicze commented on #70
I can confirm this, same happens here.
Using with Nuxt.

[2021-03-13 11:47] kempsteven commented on #71
Please have a look at this guide:

https://github.com/kempsteven/vue-html2pdf#guide

I've added comments in there how to properly set up the html

[2021-03-14 14:05] dudif91 commented on #71
@kempsteven I've tried to follow the guide but wasn't able to find the right solution for some sections whose content is bigger than 1 page...

[2021-03-17 01:07] kempsteven commented on #71
can i have a sample of your code? with static data

[2021-03-17 08:32] dudif91 commented on #71
@kempsteven hi i'm working with vuetify and it would be really hard to take a sample of the code...

                <v-card flat outlined height="100%" class="overflow-y-auto px-6 d-flex flex-column align-center">
                    <template v-if="incident">
                        <vue-html2pdf
                            ref="html2Pdf"
                            pdf-format="a4"

[2021-03-19 01:25] kempsteven commented on #71
You can try removing the `<template>` tag

and just add `slot="pdf-content"` on `<v-app class="inner-background"> ` tag, i think that will work.

`<v-app class="inner-background" slot="pdf-content">`

[2021-03-21 10:50] dudif91 commented on #71
Hi @kempsteven,
thanks for the response but actually it didn't change any behavior.

[2021-03-23 00:01] kempsteven commented on #71
can you try making a new vue.js project /w vuetify and add  your sample code just static data is enough and push it to a public repo and I'll try to debug what is happening.

In another note, have you tried playing with the props `:paginate-elements-by-height` value?
maybe set it to a lower value? like 1000 or something?

[2021-03-24 09:26] lartheon commented on #36
I'm experiencing this issue, can you please explain where do you add this? Also I'm using typescript so I can't use 'any', what is the proper type to replace it with?

[2021-03-24 09:56] rzpjunior opened #72 "Add page number of total pages at beforeDownload"
is there any documentation on how to add page number of total pages?

i have tried this :
[code]
but it doesnt seem to be working

[2021-03-24 18:51] Master-Y0da commented on #36
Same error here ... @jeffersonbabuyo  could you please share the complete instruction ?

[2021-03-25 00:11] kempsteven commented on #36
Hey guys can you try this?
if this is a typescript error, i think this could be the fix

[code]

or have a look at this, this is where $refs type are inserted.
https://class-component.vuejs.org/guide/refs-type-extension.html
![image](https://user-images.githubusercontent.com/51051704/112399885-11beb180-8d42-11eb-9994-5b9d1c0dcad0.png)

[2021-03-25 11:46] kempsteven commented on #72
Hey, try pulling this demo app
https://github.com/kempsteven/vue-html2pdf-demo

go to App.vue
set the props  `enable-download:`,  `preview-modal:` to false

and search for the `beforeDownload` function
and uncomment that then generate a pdf, it will work.

[2021-03-25 14:11] yoerriwalstra commented on #68
Have you wrapped your `<vue-html2pdf>` component in Nuxt's `<client-only>` component, as explained in the [Using in Nuxt.js](https://github.com/kempsteven/vue-html2pdf#using-in-nuxtjs) section?

I'm planning to implement vue-html2pdf in my own Nuxt statically generated site, which is how I came across your issue. I haven't tried to deploy my site yet, but I didn't run into any issues myself when I

[2021-03-26 00:54] kempsteven commented on #70
Hmm there is an easy fix for this but kind of adds redundancy on it.

You can wrap your pdf content on a component like this, and also use it to show your content on the page,
something like this:
[code]

Another **solution** is add a loading overlay & prevent the user to scroll when the pdf is generating.

This issue is caused by the html2canvas package which is being used by html2pdf.js
https://

[2021-03-26 04:45] #72 closed, assigned to kempsteven

[2021-03-29 07:51] alxistn commented on #70
I confirm that adding `scrollX: 0`, `scrollY: 0` to the html2canvas option works great to fix the blank pages filling when scroll and then generating the PDF.

Thanks @kempsteven ! Great work 👌

[2021-03-29 07:51] #70 closed, assigned to kempsteven

[2021-03-29 08:21] kristofgilicze commented on #70
Thanks, works here as well !

Though this really should be the **default behaviour, or at least consider a top level prop.**

_It almost made me throw in the towel with this package, but I'm happy that there is a workaround ! :)_

I might publish a draft pull request for the top level prop, if I have the time this week.

[2021-03-31 03:51] rzpjunior opened #73 "How to open new tab when generating pdf"
Hello,

Is there any documentation on how to open new browser tab to preview the PDF when i click generate PDF button?

[2021-04-01 12:06] mmiftahululum opened #74 "Content PDF Position in Page 3, and page 1 and 2 blank."
generate PDF always content in page 3, and page 1 and 2 blank.

my code in html

[code]

pdf opitons
[code]

execute generate pdf

[code]
And than this a picture pdf after generate
![image](https://user-images.githubusercontent.com/20709636/113291243-f3961a00-931c-11eb-9857-fdcd5c44abeb.png)

help me ??

[2021-04-07 14:14] bad-mushroom commented on #73
Not sure about opening a new tab but there is an option to open a preview modal:
[code]

[2021-04-09 04:18] rzpjunior commented on #73
[SOLVED]
I just did this to beforeDownload function :

`
window.open(pdf.output('bloburl'), '_blank');
`

[2021-04-09 04:18] #73 closed, assigned to kempsteven

[2021-04-17 12:45] asennoussi opened #75 "Add a font for nuxtJS implementation"
Hi, how could I add a font using NuxtJS implementation?
Thank you

[2021-04-17 13:27] asennoussi commented on #74
That's because the html2pdf creates ` <div class="html2pdf__page-break"/>` randomly.
I don't know the solution. I'm struggling.

[2021-04-17 13:44] asennoussi commented on #74
Solved it with : `:manual-pagination="true"`

[2021-04-21 18:12] maxshuty opened #76 "`filename`'s description in the README is wrong"
The description in the README for the `filename` is currently set to the same thing that `paginate-elements-by-height` is set to. I would put up an MR to update this but I'm unaware of any potential limitations that the filename may have, but presumably it should be something like

Instead it currently says:

[2021-04-22 01:52] kempsteven commented on #76
Didn't see this one, thanks

[2021-04-27 13:47] farih96 commented on #53
hey @mohammadmrd74, i'm facing the same problem, my table content does not render i only get the header.
did you solve it  ?

[2021-04-29 05:02] riverrun46 opened #77 "Images below page 8 don't render"
Just tried to figure it out... I have some images in my content and those below 1/3 of page 8 don't render (blank areas left). Text content worked properly. I guessed it's related to the maximum height issue?

[2021-04-30 08:06] andreguerrerosilvera commented on #34
I had the same problem and it has been solved by placing the component that contains the `vue-html2pdf` as the first element on the page. I don't understand why this happens, any ideas?

[2021-04-30 13:50] alxistn opened #78 "Vuetify icons not showing using safari"
**Describe the bug**
The vuetify icons are not showing when creating a pdf from a webpage using Safari

**To Reproduce**
Steps to reproduce the behavior:
1. Create a component and use some dummy v-icon in it
2. Generate the pdf from that vue component
3. See all icons are not been displayed

**Screenshots**
![image](https://user-images.githubusercontent.com/9989863/116704256-7ddca700-a9cb-11eb-87b

[2021-05-01 13:08] hasanparasteh opened #79 "Feature Request: Support persian language"
Hi. Thanks for your great work. Please consider supporting RTL languages like `Persian`. when I want to generate PDF the text is messed up like the image below:

<img width="1280" alt="Screen Shot 2021-05-01 at 5 38 06 PM" src="https://user-images.githubusercontent.com/42239446/116783438-4844c600-aa7e-11eb-99f3-5195e162521d.png">

Please help me to fix this problem.

[2021-05-01 14:31] hasanparasteh commented on #79
`text-align` trick wont work now!

[2021-05-04 00:59] kkarkos commented on #5
Hi @kempsteven , I also require the Blob only. With
[code]
**hasDownloaded** is not being triggered. You can reproduce on the demo page. And you also mention it in the docs.

[code]

Maybe this has been removed again?

I started using the hack you mentioned above, which works for now.

[2021-05-04 01:04] kempsteven commented on #79
Hey man, so this package is a wrapper and uses `html2pdf.js`, and `html2pdf.js` uses these packages `html2canvas` & `jsPDF`,
Unfortunately I don't have any fixes on my end.

You can have a look at html2canvas's repo issues around unicode & arabic/persian font:
https://github.com/niklasvh/html2canvas/labels/Unicode

[2021-05-04 01:04] #79 closed, assigned to kempsteven

[2021-05-05 10:04] abdulmlik commented on #49
I have the same problem now...
if it has been solved? Can I get the solution?

[2021-05-05 10:36] abdulmlik commented on #65
Thank you man, you saved me

[2021-05-19 12:07] t8ysn opened #81 "How to automatically print the pdf instead of downloading?"
Is there a way o get the pdf process to autimatically open and do a 'windows.print()'?

[2021-05-20 05:57] vanjoechua opened #82 "How to open the pdf blob in the same window"
My app implements a PDF view by clicking on a print button on a form page. When the button is clicked a new tab is opened a the component where the PDF content resides is loaded. I purposely do not load/import the component which has the PDF component inside the same form due to complexity of the overall form component. So the page to print is actually another page. If i set download and preview t

[2021-05-20 10:26] kempsteven commented on #81
set the props: `enable-download` and `preview-modal` to false,
use the @beforeDownload event, you can get the pdf blob in that event,
using the pdf blob, you can do something like this?
https://codepen.io/Edo_M/pen/PjdKEd?editors=1010

here is the docs for @beforeDownload:
https://github.com/kempsteven/vue-html2pdf#sample-use-case-of-beforedownload

[2021-05-20 11:08] kempsteven commented on #82
hmm one solution is just create an `<iframe>` that covers the whole page, and insert the blob file in the `<iframe>`,
let me know if that works

[2021-05-30 14:59] kinoli commented on #34
This is happening for me. I've tried a million different solutions, none work. Occasionally I see something show up but not all of what I expect. I am thinking it is a timing issue. Is there a way to have it wait until everything is drawn, or a delay or something?

[2021-05-31 13:19] Lezireg opened #83 "Impossible to use in web component"
**Describe the bug**
I try to use the library in a web component with vue.js built-in web component tool.

See : https://cli.vuejs.org/guide/build-targets.html#web-component

The library work fine before the export in webComponent but it don't when i use the created component, it seems to not correctly import needed library ressources.

it's the same when i use '--inline-vue' command.

**Package V

[2021-06-03 14:29] bluequantum opened #84 "The css flexbox row and column are not working"
This is what i expected
![image](https://user-images.githubusercontent.com/10184657/120661692-cbe04100-c488-11eb-9889-f7e493a27176.png)

This is the pdf generated

![image](https://user-images.githubusercontent.com/10184657/120661844-ea463c80-c488-11eb-98a9-ab660281e77c.png)

[2021-06-04 00:53] kempsteven commented on #84
can i see your css?

[2021-06-04 00:56] #82 closed, assigned to nobody

[2021-06-04 00:56] #81 closed, assigned to nobody

[2021-06-07 19:55] meckyblaze commented on #34
Having this same issue, tried all solutions here and none is working

[2021-06-07 20:03] jpcarpenter commented on #34
I never actually solved this issue either – the issue kept happening for whatever reason. I ended up making a component with  data that made up my PDF, then set up express + puppeteer. I then submit the data from my component to the express endpoint and handle it with puppeteer from there.

[2021-06-07 20:37] meckyblaze commented on #34
This works, but then I need to find a way to import the component into the parent component... Importing into parent component with data doesn't work either... Any help will be much appreciated

[2021-06-07 20:43] jpcarpenter commented on #34
@meckyblaze you possibly could emit an event to the parent component with the data you need.

[2021-06-07 20:48] kinoli commented on #34
This issue is due to html2canvas. You need to set the scrollX and scrollY to 0, as any scroll down the page will affect the html2canvas screenshot. Adding this prop will fix it for you.

[code]

[2021-06-07 20:54] meckyblaze commented on #34
You're a life saver... Thanks a lot

[2021-06-07 20:56] meckyblaze commented on #34
@jpcarpenter and @kinoli you both saved me hours of debugging
I appreciate.

[2021-06-07 22:19] mecjos opened #85 "Using Slot Props in pdf-content Slot"
I tried to use props in pdf-content slot. But it's empty.

`<pdf-content :jobs="list" slot="pdf-content" />`

`list` is a computed property.

I user quasar framework and want to create pdf from quaar table. Besides, when I use mapstate in pdf-content component, it's empty again. Where is the problem ? Thank you.

[2021-06-09 11:34] EikeBierman commented on #84
i have the same problem.

the website:
![image](https://user-images.githubusercontent.com/5251819/121346379-53fd9500-c926-11eb-8b90-5882d1b15900.png)

the created pdf:
[1bf9fc83-4e0f-431c-8030-782ee26a025f.pdf](https://github.com/kempsteven/vue-html2pdf/files/6623372/1bf9fc83-4e0f-431c-8030-782ee26a025f.pdf)

the html/css
![image](https://user-images.githubusercontent.com/5251819/121346660-afc81e0

[2021-06-09 14:13] bluequantum commented on #84
Hi i fixed it by replace all css class by style

[2021-06-09 14:14] bluequantum commented on #84
EikeBierman try to deplace class="row" to style="display:flex; flex-direction: row"

[2021-06-09 14:23] EikeBierman commented on #84
for me it doesn't works. I've try to add your styles, nothing changed. the "text" div is under the footer.

[2021-06-10 13:35] Lezireg commented on #83
After further investigations it seem to be a problem with the shadow dom, the style don't load properly after the export in web component. Currently the data correctly display itself in preview popup but not the style.

[2021-06-12 03:37] vanjoechua commented on #82
Thanks for this idea. It does work.

[2021-06-12 14:29] abdelhak51 commented on #81
you can use this code to solve it using vue-html2pdf beforeDomnload   function and adding the line (window.open(pdf.output('bloburl'), '_blank')  will open it in new tab

[code]

[2021-06-12 14:54] abdelhak51 commented on #81
but when setting to preview-modal  and  enable-download  to false it still downloading

[2021-06-22 09:17] dextersiah opened #88 "Footer on every page"
Hi, is it possible to add a footer on every page? What I'm looking for is different from [How I can add footer with page numbers and date? #30](https://github.com/kempsteven/vue-html2pdf/issues/30).

instead of having page numbers and date. I'm trying to add something like a company information similarly to a company report where they will have their contact details are the end of every page.

The

[2021-06-23 12:55] kempsteven commented on #88
Have a look at one of the use cases of @beforeDownload event here:
https://github.com/kempsteven/vue-html2pdf#sample-use-case-of-beforedownload

in that sample I demonstrate how to add pagination on every page footer

[2021-06-24 02:18] dextersiah commented on #88
What if i want more than just pagination text but instead I want to add html element on the footer. Is that possible?

[2021-06-24 08:42] kempsteven commented on #88
hmmm not sure but I think you can produce similar results, you can see the `pdf` object right? like the one with `pdf.setTextColor`
that is jsPDF, this package uses jsPDF under the hood. With jsPDF you can create a lot UI.
this is jsPDF's docs:
http://raw.githack.com/MrRio/jsPDF/master/docs/index.html

[code]

[2021-06-24 09:12] dextersiah commented on #88
Hmmm okay understood I will explore on this. Thanks for the help @kempsteven. You may close this thread.

[2021-06-24 15:47] hAz4rd0uS opened #89 "window is not defined in Vue"
I can't get the plugin to work. I imported vue-html2pdf in my vue component:
`import VueHtml2pdf from 'vue-html2pdf`

I registered it in my component's components list:

`components: {
    VueHtml2pdf
  },`

Here's my methods:
`methods: {
    generatePDF () {
      if (process.browser) {
        this.$refs.html2Pdf.generatePdf()
      }
    }
  }`

Here's my template:

[code]

but I get this error

[2021-06-25 02:45] kempsteven commented on #89
id guess you are using nuxt?
this is a sample project of using vue-html2pdf in nuxt:
https://github.com/kempsteven/nuxt-tester

give me a sample of your nuxt.config.js

[2021-06-25 02:59] #88 closed, assigned to nobody

[2021-06-25 06:45] bernard-uerm opened #90 "Support Header for every created pages"
Hi thanks for your hard-work on this. Just want to know if you have a workaround for the header of every pages. I want to have a header on every pages. Just like you did on the footer for every pages. Thanks.

[2021-06-25 09:53] kempsteven commented on #90
Hey thanks!

soo i believe you have seen my sample on how to add a footer, code here:

[code]

You can see that the `pdf.text` has 3 arguments, one is text to be shown & the 2nd and 3rd argument is for the positioning of the text.

You just need to change the positioning of the text. if you want to further customize it. id suggest you have a read at the jsPDF documentation here:
http://raw.githack

[2021-06-29 09:24] szn0007 opened #91 "Remote images not loaded in PDF file but is seen in layout when show-layout prop is enabled"
Vue Template Code

[code]

[code]

Can Anyone tell me what is the problem with this code. Image is loaded in the pdf layout when show-layout prop is enabled, but when i download the pdf file, image is not seen.

Any help is very much appreciated.

Thank You

[2021-06-29 20:40] jonalxh opened #92 "On clone event not working"
**Describe the bug**
I'm implemeting pdf export of documents in my website, everything used to work perfectly but now I need to show some buttons in the page and remove them when exported. To achieve it  I've added a custom class to all the elements I need to remove and change and in the onclone method I'm doing some logic but it is not working, when exporting it enters to the method, but does not

[2021-06-29 20:57] jonalxh commented on #92
I've tried printing the options in the @beforeDownload method and it gives me the following:

![image](https://user-images.githubusercontent.com/12530606/123866365-95181200-d8f2-11eb-83d6-79925ea7d673.png)

The complete Exception is:
[code]

[2021-07-01 02:06] bernard-uerm commented on #90
Hi, thanks for the fast response, sorry I haven't gotten back to you sooner. For preview-modal is it possible to do this too? It seems that this is for bloburl since we need to call the beforeDownload method and upon testing of your footer it doesn't appear on the preview-modal, do we have a workaround for the preview-modal?

[2021-07-02 07:09] nongtiny opened #93 "[BUG] Page break error it leave first and last page blank"
First of all, Thanks for creating this library. It's very awesome.

**Describe the bug**

vue-html2pdf": "^1.8.0"

I tried to separate page by unsing `html2pdf__page-break`

**Screenshots**

Here's is the HTML

![Screen Shot 2564-07-02 at 14 04 36](https://user-images.githubusercontent.com/21060275/124234753-a3f30480-db3e-11eb-8b6f-ffe6dde96133.png)

Here's is the result

![Screen Shot 2564-07-02

[2021-07-02 07:10] nongtiny commented on #93
Sorry. I forgot to attach the last page. Here it is.

![Screen Shot 2564-07-02 at 14 10 21](https://user-images.githubusercontent.com/21060275/124235298-427f6580-db3f-11eb-96eb-8cc1a4b108ed.png)

[2021-07-02 09:28] akbarism opened #94 "why i have padding on my left side of my pdf?"
**Describe the bug**
everytime i generate pdf i always have padding on my left side of my pdf

**To Reproduce**
Steps to reproduce the behavior:
 - when generate pdf

**Screenshots**
![image](https://user-images.githubusercontent.com/59020048/124253391-2cc76b80-db52-11eb-9a17-32931095a322.png)
**Package Version**
 1.8.0

**Additional context**
here is my code :
`
 <vue-html2pdf
      :show-layout=

[2021-07-03 03:49] akbarism commented on #22
i have same issue here,

[2021-07-14 17:40] reiven93 opened #95 "Orientate after pagebreak"
Is there a way to change orientation after each page-break element?

I have a pdf with text and some pages with only photos. Would be nice if I could change to landscape the photo page.

Thanks

[2021-07-22 04:05] AakashSanariya commented on #71
In My Page when i call this function html2pdf().set(opt).from(element, "element").save(); at that time auto page break not working properly
![image](https://user-images.githubusercontent.com/52906236/126588525-3aca8fb7-0b33-43e2-826a-12211b5c748e.png)

[2021-07-31 00:24] maronkoders opened #96 "The package at times it does not get all the content"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Package Version**
e.g. 1.8.0

**Additional context**
Add any other context about the problem here.

The package at times is

[2021-08-04 17:12] iec989 opened #97 "I get 5 vulnerabilities with this package on npm"
![image](https://user-images.githubusercontent.com/11177560/128224542-232a73e9-db5a-4a28-ac43-1ae12a856133.png)

Is there any reason why the package is not using the latest jspdf library?

[2021-08-06 13:30] 72fcosta opened #98 "Print on paper roll"
Hello.
Is it possible to print on paper roll (without breaking the page before the end of the content)?
Width = 80mm
Height = depends of the content (> 10000mm)
Thanks.

![image](https://user-images.githubusercontent.com/25357754/128517695-550cce43-dfac-4f89-8a2d-c2209ba44133.png)

[2021-08-09 07:39] umerbaig commented on #91
Same issue is happening with me. Any one can help?

[2021-08-19 17:44] EikeBierman opened #102 "pdf-format: Infinity"
hi, is it possible the pdf height change to auto/infinity or something else ?  or create a own format ?
i want to create a pdf without the site spacing between the site and the next site

[2021-08-20 00:53] kempsteven commented on #98
You can disable pagination by setting :manual-pagination="true"

[2021-08-20 00:53] kempsteven commented on #102
You can disable pagination by setting :manual-pagination="true"

[2021-08-27 03:41] keemsanty27 opened #103 "Image disappears after adding more rows"
Hello I am generating a pdf, however after adding more rows to a table the top image disappears.

From this:
![1](https://user-images.githubusercontent.com/67887786/131068058-67e6a291-ccd0-4c97-931e-57c48a961613.PNG)

To this:
![2](https://user-images.githubusercontent.com/67887786/131068074-b6896f3e-4b32-4f65-a06a-9e5975c5156f.PNG)

My code for html2pdf looks like this:
`
<vue-html2pdf `
      `

[2021-08-30 13:59] ghost opened #104 "page-break add blank space on top"
**Describe the bug**
When I use  `<div class="html2pdf__page-break" />`, the plugin add blank space beetween the label 'Test' and the upper border

There are not margin on inline style
[code]

All parts of the file must be inside a section ? I put inside only some parts of the code

**Screenshots**
![Screenshot_20210830_155008](https://user-images.githubusercontent.com/13423042/131349833-1ea508be-

[2021-08-30 14:03] ghost commented on #104
[code]

[2021-08-30 15:54] ghost commented on #104
Solved with
[code]
and
[code]

[2021-09-03 03:32] cjlhll opened #105 "请问还是不支持IE11吗？"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Package Version**
e.g. 1.8.0

**Additional context**
Add any other context about the problem here.

[2021-09-07 22:56] akelalix opened #106 "DOMException: Failed to execute 'drawImage' on 'CanvasRenderingContext2D': The image argument is a canvas element with a width or height of 0."
Hi @all,

Good day.

When I tried using it on a blank component page the code works perfectly, but if I apply it on a child child component, it produces this error

`DOMException: Failed to execute 'drawImage' on 'CanvasRenderingContext2D': The image argument is a canvas element with a width or height of 0.`

I tried putting height on the container of the vue-html2-pdf but still produces an error.

[2021-09-08 07:34] #106 closed, assigned to nobody

[2021-09-08 07:42] akelalix commented on #106
hello @all ,

I added &nbsp; before my component it seems working fine now but still with blank first page.

Thank you

[2021-09-08 08:04] akelalix opened #107 "Generate pdf file then upload it to the server"
Hello!

Is it possible to generate the pdf file then upload the file to the file server?

Thank you

[2021-09-08 08:21] kempsteven commented on #107
yes, just use set the :enable-download="false" then use @beforeDownload event, in that function you can manually generate your pdf and get the pdf blob file, once you get that you can now upload that file to the server

sample how to use to here:
https://github.com/kempsteven/vue-html2pdf#sample-use-case-of-beforedownload

[2021-09-08 20:49] akelalix commented on #107
Hi @kempsteven thank you for replying.

I will give it a try.

Have a great day!

Stay safe

[2021-09-08 22:55] akelalix commented on #107
Hi @kempsteven

Sorry to bother you again, I have tried the code you have mention and tried uploading the pdf, but when i try downloading the saved file from the server it was unrecognizable

Here is a snippet of my first code

[code]

I also tried converting the pdf blob file as file and upload it thru axios but still no avail

[code]

On the php backend, i tried directly saving the file director

[2021-09-08 23:25] akelalix commented on #107
Hello @kempsteven

I think i know the problem is.  I change `formData.append("pdf", pdf);` to `formData.append("file", btoa(pdf.output()));`

It is working now.,

Thank you so much!

[2021-09-10 00:43] akelalix commented on #107
Hi @kempsteven

sorry again to bother you,
It was working but when I tried pssing htmlToPdfOptions, it coudnt upload the file with error _### has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource._

Thank you

[2021-09-10 01:04] #107 closed, assigned to nobody

[2021-09-10 16:43] dhamdani666 opened #108 "Vue 3"
Hi , I installed vue-html2pdf with npm i vue-html2pdf with a Vue 3 but it does not seem to be compatible.
When I try to import import VueHtml2pdf from 'vue-html2pdf' you get an error TypeError: selfHook.bind is not a function

Any suggestions?
Thank you.

[2021-09-14 15:42] cassioutfpr commented on #22
I had a similiar issue here but in portrait mode. I checked my elements and none of them seems to have a margin left (of course that I can be wrong).
But this is my code:

![image](https://user-images.githubusercontent.com/9342675/133289386-abc84f76-24cd-4da3-9233-9a21a5564c93.png)

And this is the result:

![image](https://user-images.githubusercontent.com/9342675/133289450-9bfa134b-713e-46d1-8c8

[2021-09-14 21:03] JohnniePeixoto commented on #108
Same here, i've found this package may it helps you too
https://github.com/sango-tech/vue3-simple-html2pdf

[2021-09-15 12:49] kempsteven commented on #108
Hi currently Vue 3 is not yet supported, work for that is still pending due to a busy schedule,
I'll be working on that after things settle down, thanks for trying this package! :)

[2021-09-15 12:49] #108 closed, assigned to kempsteven

[2021-09-29 15:51] ElPablo010 opened #109 "How to improve background image quality?"
Hi Steven

In my vue app, I'm using vue html 2 pdf to create downloadable pdf's. My problem is that the generated pdf background image is kinda blurry.

Despite digging into the package documentation and other related posts, I can't manage to get it fixed. Can you think of a solution?

My Vue Js component code:

`<vue-html2pdf
  :show-layout="false"
  :float-layout="true"
  :enable-download="true"

[2021-10-01 08:35] binhvq opened #110 "Error on Page 2 with background color"
**Describe the bug**
![image](https://user-images.githubusercontent.com/7200425/135590642-9a64d550-e5a9-4cf8-b4d6-2f9b3dc5b1b1.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Package Version**
e.g. 1.8.0

**Additional context**
Add any oth

[2021-10-04 19:18] zorent-zebra commented on #57
I'd like to add a note.
Our PDF generation which uses html2Pdf used to work well for long documents.
In fact, we had calculated exactly when it'd go past the pixel limitations mentioned here and we'd show some message.
Recently all PDF generation for all versions of our product stopped working, including ones which definitely used to work.
You can see in the console:
`Document cloned, element loca

[2021-10-06 16:43] fmmattioni opened #111 "Hide element once PDF generation is triggered"
Thanks for the nice package!

I was wondering what would be the way to hide a UI element once the button to generate the PDF is clicked?

My issue is that the UI element is only actually hidden after the PDF is generated, but I was hoping to hide it as soon as the button was clicked. I guess it makes the Vue instance busy, and it can't update the DOM?

Thank you!

[2021-10-06 21:29] zorent-zebra commented on #57
Follow-up note: starting with Chrome version 92, Mac Chrome hasn't been able to export PDFs for us much longer than 15000 pixels.
Windows Chrome also can't export PDFs much longer than 15000 pixels without data getting cut off.
I haven't checked to find out exactly which Chrome version on Windows first started exhibiting this behavior.
Chrome version 92 was officially released July 20, 2021.
Firef

[2021-10-23 13:50] LucianoVirmes commented on #91
I have the same issue here. Does anyone know a solution?

[2021-10-23 14:53] LucianoVirmes commented on #91
The problem was because I'm using the `v-img` component from Vuetify to render my image, and it's lazy by default. And when it's lazy, the image is only loaded when it's visible on the DOM. To solve it, I just added the `eager` prop:

Here's my code:

[code]

[code]

[2021-11-02 04:27] mayankcertree opened #112 "Upgrade html2pdf.js version to latest version to resolve audit issue."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Package Version**
e.g. 1.8.0

**Additional context**
Add any other context about the problem here.

[2021-11-04 04:03] dahyui opened #113 "Is it possible to change orientation of 1 page only?"
Is it possible to change the orientation of 1 page only? In my scenario, I have a couple of page breaks but the last page needs to be landscape and the others in portrait.

[2021-11-08 04:20] mayank30 commented on #97
me too please upgrade the package

[2021-11-10 10:51] cancirkin opened #114 "DOMException: Failed to execute 'drawImage' on 'CanvasRenderingContext2D': The image argument is a canvas element with a width or height of 0."
here is my props:

![Screenshot_2](https://user-images.githubusercontent.com/31254626/141099462-69817c18-e1df-4999-a4b8-c2701020e269.png)

when i clicked download button i got that error:

![Screenshot_4](https://user-images.githubusercontent.com/31254626/141099999-38cc8961-46cc-4a18-8448-abcc57164eb6.png)

![Screenshot_3](https://user-images.githubusercontent.com/31254626/141099735-8d22cdd0-2ab4-

[2021-11-12 02:39] mutolee opened #115 "the generated PDF files are all blank"
Thanks to the author, this library is great! my question is: PdfContent is more than 5 pages. On mobile devices, the generated PDF files are all blank, as is the case with vue-html2pdf-demo. My mobile device is IPhone8 and the default browser is used.

[2021-11-12 12:43] Pedrazl opened #116 "Pdf file size too big, property "pdf-quality" seems to be not working"
**Describe the bug**
Changing the property 'pdf-quality' has no effect on final pdf. File size is the same on max quality (2) or the lowest quality (0.1).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Package Version**
e.g. 1.8.0

**Additiona

[2021-11-23 07:20] huonsokly opened #117 "Add Header and Footer on Preview Mode"
I want to add header and footer on preview model not when download.
please help!

Thank you.

[2021-11-24 15:07] skrzypczynskiM commented on #77
Same problem here. Did you manage to solve it?

In my case, the background color of a table is not  being applied anymore - just cut in halve on page 8...

[2021-11-30 17:57] mayankcertree opened #118 "Urgent :: Some vulnerabilities require your attention to resolve"
**Describe the bug**
When installed latest version of vue-html2pdf we have got vulnerabilities in the application

**To Reproduce**
Steps to reproduce the behavior:
1. Install in any vue app
2. run this command  - ```npm audit --production```
3. See the below screenshot

**Screenshots**
![image](https://user-images.githubusercontent.com/71604065/144101439-e2132c10-bbb9-4f38-9bf4-99da69347c0d.png)

[2021-12-06 09:59] akbarism opened #119 "Blank Page After 4 page"
I made a fairly long element and it produced 6 pages, but the element that was rendered only reached the 4th page

here's the [result](https://drive.google.com/file/d/138VQl2ETRL8bgQ-qpGRui6ay9zXvuw7Z/view?usp=sharing)

my code :
` <vue-html2pdf
          :show-layout="false"
          :enable-download="true"
          :preview-modal="true"
          :paginate-elements-by-height="1300"
          f

[2021-12-10 04:22] Nambi-Natarajan commented on #77
I am also having the same problem.
From second half of the page 8 no background color is displaying but other CSS styles works fine.
Anyone found the solution!!!

[2021-12-10 08:11] LiNCH35 commented on #92
It looks like when `:float-layout="false"` PDF file is being generated from an origin (not cloned) element.
Try this:
[code]

[2021-12-23 08:28] cjh-store opened #121 "How to add a footer"
How to add a footer to each page in the case of automatic paging

[2021-12-23 12:30] justmealf opened #122 "Blank pdf when load image using base64"
Hi, i've try to generate pdf with images inside, sometimes it's work and sometimes i got blank

I've got data using this
`$images = 'data:image/jpeg;base64,'.base64_encode(file_get_contents($dat->full_path));`

$dat->full_path contains images path/url

Parsing to view
`
<img
  class="content"
  style="width: 350px; height: 400px;"
  :src="items.base64_img"

`

[2021-12-28 02:43] spurs-09 opened #123 "can be used in vue3"
vue-html2pdf.esm.js:391 Uncaught (in promise) TypeError: Cannot read properties of undefined (reading '_c')

when i used it in vue3 i got the error above

[2021-12-30 08:13] mrnhats opened #124 "Fillable PDF"
Can generate fillable PDF with textbox, checkbox, combobox.... ? Thank you

[2022-01-03 09:53] mominbelievers opened #125 "content-wrapper margin"
**Describe the bug**
content-wrapper class css is conflict with my previous used  content-wrapper class. how to romove it?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Package Version**
e.g. 1.8.0

**Additional context**
Add any other contex

[2022-01-18 10:48] danjumacharlesjubril commented on #123
same error

[2022-01-19 10:46] BlockChainCaffe commented on #123
Same

[2022-01-27 18:16] djom202 commented on #123
Same

[2022-02-02 14:35] nirbal opened #126 "VULNERABILITY exposure in dependencies"
Hi,
Please update your dependencies on `package.json` file ASAP
You got VULNERABILITY exposure in PUBLIC SECURITY ALERTS DB because some of your dependencies are out of date
e.g
"html2pdf.js": "^0.9.2" is outdated in your project although it has newer versions that FIX the VULNERABILITY.
Because of that all other child dependencies that use your oudated dependency are expose to:
- Prototype Pollut

[2022-02-21 06:47] javadrohani commented on #34
thanks its worked for me

[2022-02-24 13:58] alidrus commented on #34
Hi, I am having this same exact problem of the page rendering blank when I use my own component within the page. The component consists of a table with data loaded into it via an AJAX call. I've provided the pastebin link for the page containing vue-html2pdf and the component that is being used below:

The parent component:
[./Daily.vue](https://pastebin.com/G8qyv5kg)

The child component:
[./Dail

[2022-02-28 13:39] rey-sudo opened #129 "do you have open collective?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Package Version**
e.g. 1.8.0

**Additional context**
Add any other context about the problem here.

[2022-03-16 11:14] phojie opened #130 "text display is shifting/moving down after generated"
**Describe the bug**
text display is shifting/moving down after generated

**Screenshots**
![Screen Shot 2022-03-16 at 7 13 30 PM](https://user-images.githubusercontent.com/33350692/158577663-49f8659f-973d-4e6c-abf9-64f224f44376.png)

**Package Version**
1.8.0

[2022-03-17 06:30] #130 closed, assigned to kempsteven

[2022-03-22 10:18] vbalagovic commented on #63
Try to put lower pdf quality for eg. 1. That worked for me in safari mobile.

[2022-03-23 05:07] joyal7701 commented on #34
Hii this generates blank pdf for me:

<vue3-html2pdf
      :show-layout="false"
      :float-layout="true"
      :enable-download="true"
      :preview-modal="true"
      :paginate-elements-by-height="1400"
      filename="invoice"
      :pdf-quality="2"
      :manual-pagination="false"
      pdf-format="a4"
      :pdf-margin="10"
      pdf-orientation="portrait"
      pdf-content-width="800px"

[2022-03-23 05:11] joyal7701 commented on #34
Hii this generates blank pdf for me:

<vue3-html2pdf
:show-layout="false"
:float-layout="true"
:enable-download="true"
:preview-modal="true"
:paginate-elements-by-height="1400"
filename="invoice"
:pdf-quality="2"
:manual-pagination="false"
pdf-format="a4"
:pdf-margin="10"
pdf-orientation="portrait"
pdf-content-width="800px"
https://github.com/progress="onProgress($event)"
ref="html2Pdf"

function:

[2022-03-23 05:13] joyal7701 commented on #34
Hii, this generates blank pdf for me:

`
<vue3-html2pdf
      :show-layout="false"
      :float-layout="true"
      :enable-download="true"
      :preview-modal="true"
      :paginate-elements-by-height="1400"
      filename="invoice"
      :pdf-quality="2"
      :manual-pagination="false"
      pdf-format="a4"
      :pdf-margin="10"
      pdf-orientation="portrait"
      pdf-content-width="800px"

[2022-03-23 06:04] joyal7701 opened #131 "vue3-html2pdf generates blank pdf"
this generates blank pdf for me:
`
  <vue3-html2pdf
      :show-layout="false"
      :float-layout="true"
      :enable-download="true"
      :preview-modal="true"
      :paginate-elements-by-height="1400"
      filename="invoice"
      :pdf-quality="2"
      :manual-pagination="false"
      pdf-format="a4"
      :pdf-margin="10"
      pdf-orientation="portrait"
      pdf-content-width="800px"

[2022-03-23 10:07] mJeromeDiaz commented on #34
@joyal7701 have you try
html2canvas: {
		scrollX: 0,
		scrollY: 0
	},

[2022-03-23 10:28] joyal7701 commented on #34
@mJeromeDiaz  Where I have to put that? any reference link?

[2022-03-23 15:47] msf-Tolok opened #132 "Pagination not found"
![Captura de pantalla de 2022-03-23 16-43-57](https://user-images.githubusercontent.com/79229903/159739496-c0d9e60b-b4c7-40d3-bf99-747b1a0de9c7.png)

When I introduce class "html2pdf___page-break" in <section> with manual-pagination="true" it doesn't work correctly.
Automatic pagination using :paginate-elements-by-height="1100" doesn't work either.

[2022-03-29 17:18] CynthiaBlue opened #134 "Failed to resolve component"
I am trying to install this and I'm getting an error:

[code]

I'm running Quasar v 3.3.3. Vue version 4.5.15. and Electron version 16.0.7 on a MacBook.
I'd love some help.
Thanks.

[2022-03-30 13:03] anzuj opened #135 "Weird page load glitch"
**Describe the bug**
Upon page load, there's a dark-grey box appearing on the left side of the screen and it disappears after half a second. This results in a flicker every time the page with the PDF download button is loaded. How can I avoid this?

(not sure if relevant, but I'm also using Vuetify)

**To Reproduce**
Steps to reproduce the behavior:
Put the following in the template. Reload page.

[2022-03-31 09:41] dmitryT93 commented on #64
try to use change import VueHtml2pdf from 'vue-html2pdf'
to const VueHtml2pdf = require('vue-html2pdf')

[2022-04-16 08:09] Dzeg commented on #104
The way that I have fixed this issue is adding css to page-break class (html2pdf__page-break or your custom) like this:
[code]

[2022-04-20 17:16] MakeTotalSense commented on #31
Little update, I've been having the same issue, just don't call the component on your script.js and don't call it in your vue components. Then it works just like it should

[2022-04-21 11:04] damieneichhorn commented on #123
Same

[2022-05-05 12:20] Philword commented on #89
@hAz4rd0uS have you found what was the issue?

[2022-05-10 16:56] Tofandel opened #136 "Downloading multiple pdfs on the same page"
**To Reproduce**
Steps to reproduce the behavior:
1. Have 2 VueHtml2Pdf components on the page
2. Download 1 => Ok
3. Download 2 => Progress stops at 70 and page hangs

[2022-05-10 17:14] Tofandel commented on #136
Seems it was a build bug, as after a full rebuild it works correctly

[2022-05-10 17:14] #136 closed, assigned to kempsteven

[2022-05-19 11:28] imperatormk commented on #111
Deferring with setTimeout is what worked for me.

[2022-05-23 16:03] ccperegrine opened #137 "VueHtml2PDF not rendering some elements"
I have a fairly complex report that I aim to export using VueHTml2Pdf - All seemed to be going ok until I added a section which has to loop through data, creating a dynamic page for each grouping.

I noticed that once this report got slightly larger then it just stopped rendering certain elements. In the screenshots attached, the 'circle' div on the right hand table stops showing. Everything still

[2022-05-25 17:07] zerogravity2020 commented on #109
`html-to-pdf-options: {
  html2canvas: {
    useCORS: true,
    scale: 4, // resolution
  },
}`

[2022-05-25 17:09] zerogravity2020 commented on #117
Preview modal is inside iframe

[2022-06-07 11:38] YogaCr commented on #123
any solution?

[2022-06-08 10:27] Zakarya-Netlinks commented on #121
@cjh-store Did you find anything?

[2022-07-04 08:32] MominBinShahid commented on #121
We can add a footer with a little bit of bottom margin (using `html-to-pdf-options`) and `beforeDownload` method

An example of the automatic paging is given [here using beforeDownload method](https://www.npmjs.com/package/vue-html2pdf#sample-use-case-of-beforedownload)

Another example of a footer at bottom of the page is here as follows:

Use bottom margin by `html-to-pdf-options` prop like this

[2022-07-06 00:06] Gabrodriguez8i commented on #34
tambien tengo el error, ya coloqué:

html2canvas: {
scrollX: 0,
scrollY: 0
},

pero de todas formas me tira error, aunque solo me genera el pdf cuando la tabla está vacia más no cuando se llama la api y se cargan los datos, tenia la ultima version y ahora instalé la version    "vue-html2pdf": "^1.6.6", pero de igual formas tengo el error

[2022-07-06 17:09] Vnuuk commented on #35
:(

[2022-07-11 14:26] maronkoders opened #138 "The hasDownloaded function not working"
**Describe the bug**

When i call the hasDownloaded function i'm getting this error `invoiceGenerator.js:49660 [Vue tip]: Event "hasdownloaded" is emitted in component <VueHtml2pdf> but the handler is registered for "hasDownloaded". Note that HTML attributes are case-insensitive and you cannot use v-on to listen to camelCase events when using in-DOM templates. You should probably use "has-download

[2022-07-19 17:12] syedsaadmahmood commented on #89
I had the same issue and it is with the implementation with Nuxt. Above example by @kempsteven is the solution which is by using "client-mode".

[2022-07-27 12:01] JacquesJahnichen opened #140 "Use html2pdf__page-break only if necessary"
First of all thanks for this plugin.

How can I add a break (html2pdf__page-break for example) only if an element is cut ? The size of my document is variable. Exemple :

![image](https://user-images.githubusercontent.com/16701017/181241332-078fad9a-8580-483a-90cf-7cd7c5ea7125.png)

[2022-07-27 12:32] JacquesJahnichen opened #141 "Use @beforeDownload and generatePdf() action generates two PDF"
Hello,

How can I add a button to "Dowload the PDF" and use @beforeDownload in a same time to add a footer ? When I do that I download two pdf

![image](https://user-images.githubusercontent.com/16701017/181247056-57ab633f-9572-4dfa-87d2-d474e4ba5630.png)

![image](https://user-images.githubusercontent.com/16701017/181246317-9ef7e63e-8baf-41a7-bbfb-478dcb48c941.png)

[2022-08-09 09:49] JacquesViviarto commented on #141
A little reminder on this subject

[2022-08-09 09:49] JacquesViviarto commented on #140
A little reminder on this subject

[2022-08-18 10:02] RuhiuEdwin opened #142 "Rendering images from remote url"
Hi, @kempsteven, Im having trouble with the generated pdf, for some reason i am not able to get the image rendered. Kindly assist.
Here is my code:

`            <vue-html2pdf :show-layout="false" :float-layout="true" :enable-download="true" :preview-modal="true"
                :paginate-elements-by-height="1400" :filename=event.event_name :pdf-quality="2"
                :manual-pagination="fals

[2022-08-22 06:42] JacquesViviarto commented on #140
If anyone has an idea to solve this problem, I welcome it.

[2022-08-22 06:43] JacquesViviarto commented on #141
If anyone has an idea to solve this problem, it is welcome.

[2022-08-31 06:02] kaysarulkanak opened #143 "Search is not working in generated pdf"
**Describe the bug**
word search is not possible in generated pdf.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Package Version**
"1.8.0"

**Additional context**
Add any other context about the problem here.

[2022-08-31 15:45] rajdiran commented on #123
same

[2022-09-14 11:29] alighazi commented on #123
same

[2022-09-15 08:21] careerdimasprayoga opened #144 "List style item tag ol li doesnt work"
**Describe the bug**
In html page my ol li tag/list style item is ordered as well, but when preview and downloaded file pdf the ol li tag doesnt show

I've added
list-style-type: decimal !important;
on style and @media print but still doesnt work on download and preview, but the my page list item is show as well

version : "vue-html2pdf": "^1.8.0",

[2022-09-27 19:10] jumptrnr opened #145 "Uncaught (in promise) Unable to find element in cloned iframe - on second attempt to render & download"
**Describe the bug**
Running in Nuxt am able to download the PDF the firs time.  But when attempting to do so a second time, get the following error in the console:

`Uncaught (in promise) Unable to find element in cloned iframe in downloadPDF`

it seems to get to the following in the module:

`this.pdfFile = await html2PdfSetup.output('bloburl');`

(
**To Reproduce**
Steps to reproduce the behavi

[2022-10-02 15:51] pianistprogrammer commented on #142
My best guess is that this is a CORS issue, check your developer console. Its most likely the problem, make sure you have this on the header from where the image is being served --Access-Control-Allow-Origin: * , Access-Control-Allow-Methods: GET,OPTIONS.

[2022-10-11 20:26] sannchiss commented on #104
ehhh convert image to base 64 and done:

https://www.base64-image.de/

[2022-10-14 15:48] chheng-dev opened #147 "How to generate html to image ? please help"

[2022-10-17 21:20] rogerio-pereira commented on #141
+1

[2022-10-18 13:01] eldeeno commented on #34
Hello, I am having the blank pdf issue here but mine is a bit different. I am looping through returned api data to generate (n) number of report pages in the pdf file, which comes from a different component. It works when n=20, but generates (n) number of blank pages on the pdf when the api data count exceeds 20. like 31, 40, 60...
I have tried most solutions suggested up here but all didn't work

[2022-10-19 16:01] carmenAimee commented on #34
I have the same problem, the solution I found was to split the pdf in my case the maximum number is 40 bue now I have the problem that does not respect the page break, my header is placed at the bottom of the previous page. Someone knows how to fix this

[2022-10-19 20:45] rogerio-pereira commented on #141
@JacquesViviarto set both variables: preview-modal and enable-download to false

That solved for me

[2022-10-21 10:15] eldeeno commented on #34
I will try splitting the pdf to see if it will work. For your own issue, try giving your page height by either adding this prop "paginate-elements-by-height : 1400" to your vue-html2pdf component. or you could give the section tag a "pdf-item" class and then a height in css.

[2022-10-21 10:15] eldeeno commented on #34
I will try splitting the pdf to see if it will work. For your own issue, try giving your page height by either adding this prop "paginate-elements-by-height : 1400" to your vue-html2pdf component. or you could give the section tag a "pdf-item" class and then a height in css.

[2022-10-21 10:16] eldeeno commented on #34
I will try splitting the pdf to see if it will work. For your own issue, try giving your page height by either adding this prop "paginate-elements-by-height : 1400" to your vue-html2pdf component. or you could give the section tag a "pdf-item" class and then a height in css.

[2022-10-25 11:10] cuongpv219 commented on #130
I also had this problem, how did you fix it?

[2022-10-25 15:36] AloneInMyMind commented on #141
The problem of this solution is that now the @hasDownloaded doesn't work anymore, if anyone has a solution please let me know

[2022-10-25 18:04] rogerio-pereira commented on #141
@AloneInMyMind
use beforeDownload, also set both variables.
It`s working for me

[2022-10-26 04:00] cuongpv219 opened #148 "Text display is moving down in pdf"
Text display is moving down. The browser showing:
<img width="788" alt="Screen Shot 2022-10-26 at 10 51 29" src="https://user-images.githubusercontent.com/8101208/197931242-eaf2770f-4d0e-4aad-8f5a-d62233b26a8e.png">
But, showing in PDF like this
<img width="791" alt="Screen Shot 2022-10-26 at 10 51 10" src="https://user-images.githubusercontent.com/8101208/197931196-643f757a-79b8-4edd-9c35-29259d6

[2022-10-27 20:39] rogerio-pereira opened #149 "Get Blob file after pagination"
**Describe the bug**
How can i get the pdf BLOB after pagination?

**To Reproduce**
Pdf with pagination is being downloaded normally, i need a way to get the pdf blob, so i can send it to backend, to be processed (store in S3, and send it to email).
To paginate i'm using `@beforeDownload`, but is required  to set the props `:enable-download` and `:preview-modal` to false

**Package Version**
e.g.

[2022-10-28 14:28] rogerio-pereira commented on #149
Solved. Changed method `beforeDownload`
[code]

Variable blobFile is the pdf file

[2022-10-28 14:28] #149 closed, assigned to kempsteven

[2022-11-06 17:04] dalmia commented on #68
If anyone came here looking for a solution for NuxtV3, I was able to use the base package `html2pdf` directly by defining a custom plugin. I have explained my answer [here](https://stackoverflow.com/a/74337945/7870587).

Hope it helps!

[2022-11-06 17:05] dalmia commented on #89
If anyone came here looking for a solution for NuxtV3, I was able to use the base package html2pdf directly by defining a custom plugin. I have explained my answer [here](https://stackoverflow.com/a/74337945/7870587).

Hope it helps!

[2022-11-08 11:47] Jonas096 commented on #123
There are new informations?

[2022-11-14 14:07] JacquesViviarto commented on #141
Thanks for your help. This config work for me

[code]

[2022-11-15 16:20] JacquesJahnichen commented on #140
One way to solve this is to use section

[code]
[code]

You can also find options in : https://ekoopmans.github.io/html2pdf.js/#page-breaks

[2022-11-15 16:20] #140 closed, assigned to nobody

[2022-11-15 16:21] #141 closed, assigned to nobody

[2022-11-16 02:17] kitdaniellim commented on #35
:(

[2022-11-27 10:51] hanimirzapour commented on #35
:(